<html>

<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='master.css') }}">

</head>

<body>
<div class="head-title-wrapper">
	<a href="http://www.arm.gov"><img src="{{url_for('static', filename='arm_logo.png')}}" id="arm-logo" alt="Atmospheric Radiation Measurement Climate Research Facility"></img></a>

	<div class="head-title" align="center" >
		<h1>WARNO</h1>
		<ul class="nav-buttons">
			<a href="{{url_for('show_radar_status')}}"><li>Status</li></a>
			<a href="{{url_for('sites.list_sites')}}"><li>Sites</li></a>
			<a href="{{url_for('instruments.list_instruments')}}"><li>Instruments</li></a>
			<a href="{{url_for('show_pulse')}}"><li>Pulses</li></a>
			<a href="{{url_for('users.list_users')}}"><li>Users</li></a>
			<a href="{{url_for('logs.new_log')}}"><li>Submit Log</li></a>
		</ul>
	</div>
</div>
<div class="sub-title" align="center">
{{title}}
</div>
</body>
</html>
