<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='master.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-2.1.4.js')}}"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <div id="histogram-content-{{id}}">
        <button type="button" id="histogram-config-open-button-{{id}}" title="Configuration">
            <img src="{{url_for('static', filename='gear.png')}}" style="width: 16px; height: 16px;" alt="Config">
        </button>
        <button type="button" id="histogram-add-button-{{id}}">Graph Histogram</button>
        <input type="radio" id="histogram-size-button-small-{{id}}" name="histogram-size-{{id}}" value="small">
        <label for="histogram-size-button-small-{{id}}">Small</label>
        <input type="radio" id="histogram-size-button-medium-{{id}}" name="histogram-size-{{id}}" value="medium" checked>
        <label for="histogram-size-button-medium-{{id}}">Medium</label>
        <input type="radio" id="histogram-size-button-large-{{id}}" name="histogram-size-{{id}}" value="large">
        <label for="histogram-size-button-large-{{id}}">Large</label>
        <button type="button" style="float: right;" id="histogram-remove-button-{{id}}">X</button>
        <button type="button" style="float: right;" id="histogram-copy-button-{{id}}" title="Copy This Widget">||</button>

        <div>
            <button id="histogram-hide-button-{{id}}">-</button>
            <button id="histogram-reveal-button-{{id}}">+</button>
            <div class="db_receive_status" id="receive-status-{{id}}"></div>
            Last Received (UTC):
            <span id="last-received-{{id}}">No Data</span>
        </div>

        <div class="graph_setup_container" id="histogram-controller-{{id}}">
            <button id="time-constraint-switch-{{id}}">Switch to Sliding Window</button>
            <button id="controller-histogram-add-{{id}}" style="float: right;">Apply</button>
            <div id="custom-times-{{id}}">
            <p><label for="time">Start Date/Time in UTC:</label>
                <input type="datetime" id="datetime-input-start-{{id}}" name="start" value="01/01/1970 12:27:31">
            </p>
            <div style="display: inline-block" class="graph_setup_button" onclick="updateStartTime({{id}}, 1)">Yesterday</div>
            <div style="display: inline-block" class="graph_setup_button" onclick="updateStartTime({{id}}, 7)">Last Week</div>
            <div style="display: inline-block" class="graph_setup_button" onclick="updateStartTime({{id}}, 14)">Fortnight</div>
            <div style="display: inline-block" class="graph_setup_button" onclick="updateStartTime({{id}}, 30)">Last Month</div>
            <div style="display: inline-block" class="graph_setup_button" onclick="updateStartTime({{id}}, 180)">Six Months</div>
            <br>
            <br>
            <p><label for="time">End Date/Time in UTC:</label>
                <input type="datetime" id="datetime-input-end-{{id}}" name="end" value="01/01/2170 12:27:31">
                <br>
                <div class="graph_time_format">
                    <i>(MM/DD/YYYY HH:MM:SS)</i>
                </div>
                {% if error %}
                    <div id="histogram-error-{{id}}" style="color: red">{{error}}</div>
                {% endif %}
            </p>
            </div>
            <div id="auto-times-{{id}}" style="display: none;">
                Sliding Time Window:
                <br>
                <input type="radio" id="time-range-tenminute-{{id}}" name="time-range-{{id}}" value="tenminute">
                <label for="time-range-tenminute-{{id}}">Ten Minutes</label>
                <input type="radio" id="time-range-hour-{{id}}" name="time-range-{{id}}" value="hour">
                <label for="time-range-hour-{{id}}">Hour</label>
                <input type="radio" id="time-range-sixhour-{{id}}" name="time-range-{{id}}" value="sixhour" checked>
                <label for="time-range-sixhour-{{id}}">Six Hours</label>
                <input type="radio" id="time-range-day-{{id}}" name="time-range-{{id}}" value="day">
                <label for="time-range-day-{{id}}">Day</label>
                <br>
                <input type="radio" id="time-range-week-{{id}}" name="time-range-{{id}}" value="week">
                <label for="time-range-week-{{id}}">Week</label>
                <input type="radio" id="time-range-fortnight-{{id}}" name="time-range-{{id}}" value="fortnight">
                <label for="time-range-fortnight-{{id}}">Fortnight</label>
                <input type="radio" id="time-range-month-{{id}}" name="time-range-{{id}}" value="month">
                <label for="time-range-month-{{id}}">Month</label>
            </div>
            <div>
                <label for="lower-limit">Lower Limit</label>
                <input style="width: 70px;" type="text" name="lower-limit" id="histogram-lower-limit-{{id}}">
                <label for="upper-limit">Upper Limit</label>
                <input style="width: 70px;" type="text" name="upper-limit" id="histogram-upper-limit-{{id}}">
                <br>
                <i style="font-size: 80%">
                    Both limits must be valid numbers to override automatic limits.
                </i>
            </div>
            <div id="attr-div-{{id}}">
                <span>
                    <select class="attrSelect" id="instrument-select-{{id}}">
                        {% for inst in instrument_list %}
                        <option value="{{inst.id}}">{{ inst.location }}:{{inst.abbv}}</option>
                        {% endfor %}
                    </select>
                </span>
                <span>
                    <select id="attribute-select-{{id}}">
                        <option>Select an Instrument</option>
                    </select>
                </span>
            </div>

        </div>
        <div class="histogram_widget" id="histogram-container-{{id}}"></div>
    </div>
    <div class="widget_config" id="histogram-config-{{id}}">
        <h2>Histogram Configuration</h2>
        <hr>
        <div class="grid-container">
            <div class="row widget_config_row">
                <div class="col-9">
                    <label for="update-frequency">Histogram Frequency in Minutes (+Integer): </label>
                </div>

                <div class="col-3" style="text-align: right;">
                    <input type="text" name="update-frequency" class="short_input" id="histogram-update-frequency-{{id}}">
                </div>
            </div>

            <hr>
            <div class="row widget_config_row">
                <div class="col-9">
                    <label for="bin-number">Number of Bins (+Integer): </label>
                    <br>
                    <i style="font-size: 80%;">
                        With this set to 0, the graph will attempt to automatically pick a good number of bins.
                    </i>
                </div>

                <div class="col-3" style="text-align: right;">
                    <input type="text" name="bin-number" class="short_input" id="histogram-bin-number-{{id}}">
                </div>
            </div>

            <hr>
            <div class="row widget_config_row">
                <div class="col-6">
                    Graph Color (Integer 0-255):
                </div>

                <div class="col-6" style="text-align: right;">
                    <label for="color-red">Red: </label>
                    <input type="text" name="color-red" class="short_input" id="histogram-color-red-{{id}}">
                    <label for="color-green">Green: </label>
                    <input type="text" name="color-green" class="short_input" id="histogram-color-green-{{id}}">
                    <label for="color-blue">Blue: </label>
                    <input type="text" name="color-blue" class="short_input" id="histogram-color-blue-{{id}}">
                </div>
            </div>

            <hr>
            <div class="row widget_config_row">
                <div class="col-9">
                    <label for="convert-to-dB">Convert Values to dB:</label>
                </div>

                <div class="col-3" style="text-align: right;">
                    <input type="checkbox" name="convert-to-dB" id="convert-to-dB-{{id}}">
                </div>
            </div>
        </div>

        <hr>

        <div class="error_display" id="histogram-config-error-{{id}}"></div>
        <div id="histogram-config-success-{{id}}"></div>

        <div class="widget_config_controls">
            <button type="button" id="histogram-config-close-button-{{id}}"><< Return</button>
            <button type="button" id="histogram-config-apply-button-{{id}}">Apply Changes</button>
        </div>
    </div>
</body>
