<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='master.css') }}">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
</head>

<body>
    <div class="log_widget">
        {% if not logs %}
            <b>No logs for instrument</b>
        {% endif %}
        {% for log in logs %}
        <div style="margin: 2px; border: 1px solid black; padding: 3px;">
            <div>
                <div class="rect {{log.status.replace(' ', '_').replace('-', '_').lower()}}" style="background: white; display: inline-block">
                    {{log.instrument_name}}</div><div class="inst_status_div rect {{log.status.replace(' ', '_').replace('-', '_').lower()}}"
                                                      style="display: inline-block;">{{log.status}}</div>
                <br>
                -- {{log.author}} at {{log.time}} UTC
            </div>
            <hr>
            <div>
                {{log.contents}}
            </div>
        </div>
        {% endfor %}
    </div>
</body>