<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='master.css') }}">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
</head>

<body>

    <p>
        <button type="button" id="config-open-button-{{id}}" title="Configuration">
            <img src="{{url_for('static', filename='gear.png')}}" style="width: 16px; height: 16px;" alt="Config">
        </button>
        <label for="instrument_selector">Instrument:</label>
        <select name="instrument_selector" id="log-viewer-instrument-selector-{{id}}">
            <option value="-1">All</option>
            {% for instrument in instruments %}
            <option value="{{ instrument.id }}">{{instrument.site}}:{{ instrument.name }}</option>
            {% endfor %}
        </select>
        <button type="button" id="add-log-viewer-button-{{ id }}">Display Logs</button>
        <button type="button" style="float: right;" id="remove-log-viewer-button-{{id}}" title="Remove This Widget">X</button>
        <button type="button" style="float: right;" id="copy-log-viewer-button-{{id}}" title="Copy This Widget">||</button>
    </p>
    <div id="log-viewer-container-{{id}}">

    </div>
</body>
