<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='master.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-2.1.4.js')}}"></script>
</head>

<body>
    <p><label for="instrument_selector">Instrument:</label>
        <select name="instrument_selector" id="log_viewer_instrument_selector{{id}}">
            <option value="-1">All</option>
            {% for instrument in instruments %}
            <option value="{{ instrument.id }}">{{instrument.site}}:{{ instrument.name }}</option>
            {% endfor %}
        </select>
        <label for="max_logs">No. of Logs:</label>
        <input style="width: 30px;" type="text" id="log_viewer_max_logs{{id}}" name="max_logs" value="5">
        <button type="button" onclick="log_viewer_list_logs({{id}})">Display Logs</button>
        <button type="button" style="float: right;" onclick="remove_log_viewer({{id}})">X</button>
    </p>
    <div id="log_viewer_container{{id}}">

    </div>
</body>
