<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='master.css') }}">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
</head>

<body>
    <div class="log_widget">
        {% if not logs %}
            <b>No logs for instrument</b>
        {% endif %}
        {% for log in logs %}
            <b>Instrument</b>: {{log.instrument_name}}
            <br>
            <b>Logged By</b>: {{log.author}}
            <br>
            <b>Time</b>: {{log.time}}   <b>Status</b>: {{log.status}}
            <br>
            <b>Comments</b>: {{log.contents}}
            <hr>
        {% endfor %}

    </div>
</body>