<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='master.css') }}">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
</head>

<body>
    <div class="operational"style="font-size: 15px; display: inline-block; border: 1px solid black; padding-left: 2px; padding-right: 2px;">
        OPERATIONAL
    </div>
    <div class="not_working"style="font-size: 15px; display: inline-block; border: 1px solid black; padding-left: 2px; padding-right: 2px;">
        NOT WORKING
    </div>
    <div class="testing"style="font-size: 15px; display: inline-block; border: 1px solid black; padding-left: 2px; padding-right: 2px;">
        TESTING
    </div>
    <div class="in_upgrade"style="font-size: 15px; display: inline-block; border: 1px solid black; padding-left: 2px; padding-right: 2px;">
        IN UPGRADE
    </div>
    <div class="transit"style="font-size: 15px; display: inline-block; center; border: 1px solid black; padding-left: 2px; padding-right: 2px;">
        TRANSIT
    </div>
    <br>
    {% if instrument_groups|length <= 0 %}
    <div style="padding: 5px;">
        No Instruments at this Site
    </div>
    {% endif %}
    {% for key in instrument_groups.keys() %}
        <div class="status_widget">
            <a href="{{url_for('sites.show_site', site_id=instrument_groups[key][0].site_id)}}">{{ key }}</a>
            <br>
            {% for instrument in instrument_groups[key] %}
                <div class="{{instrument.status.replace(' ', '_').replace('-', '_').lower()}}" style="width: 125px; display: inline-block; border: 1px solid black; margin-top: 2px;">
                    <a href="{{url_for('instruments.instrument', instrument_id= instrument.id)}}">{{  instrument.name }}</a>
                    <br>
                    {{instrument.status}}
               </div>
            {% endfor %}
        </div>
    {% endfor %}
</body>