{% extends 'flask_user/member_base.html' %}

{% block title %}
Change Username
{% endblock %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_submit_field %}
<h2>{%trans%}Change Username{%endtrans%}</h2>

<form action="" method="POST" class="form" role="form">
    {{ form.hidden_tag() }}
    {{ render_field(form.new_username, tabindex=10) }}
    {{ render_field(form.old_password, tabindex=20) }}
    {{ render_submit_field(form.submit, tabindex=90) }}
</form>

{% endblock %}