<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='master.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-2.1.4.js')}}"></script>
</head>

<body>
{% with title='Dashboard' %}
{% include 'partials/header_template.html' %}
{% endwith %}

<div class="content" >
    <div style="padding: 10px" id="widget_picker_div">
        <h3>Widgets</h3>
        <select id="select-widget" name="select-widget">
            <option value="status_plot">Status Plot</option>
            <option value="log_viewer">Log Viewer</option>
            <option value="instrument_dygraph">Instrument Dygraph</option>
        </select>
        <button type="button" onclick="add_widget_to_collection()">Add Widget</button>
    </div>

    <div id="collection">

    </div>

</div>
</body>

<script>
    widget_index = 0
    function add_widget_to_collection()
    {
        elem = document.getElementById("collection");
        choice = document.getElementById("select-widget").value;
        console.log(choice)

        widget_div_id = choice + widget_index;
        widget_div = document.createElement('div');
        widget_div.id = widget_div_id;
        widget_div.className = 'wd';

        elem.insertBefore(widget_div, elem.firstChild);

        ajax_load_url(widget_div, '{{url_for("gen_widget")}}?widget_name=' + choice + '&widget_id=' + widget_index);

        widget_index += 1;
    }

    function log_viewer_list_logs(id)
    {
        var fill_element = document.getElementById("log_viewer_container" + id);
        var max_logs = document.getElementById("log_viewer_max_logs" + id).value;
        var instrument_id = document.getElementById("log_viewer_instrument_selector" + id).value;
        var url = '{{url_for("widget_log_viewer")}}?instrument_id='+ instrument_id + '&max_logs=' + max_logs;

        ajax_load_url(fill_element, url);
    }

    function ajax_load_url(element, url)
    {
        var xmlHttp = new XMLHttpRequest();

        xmlHttp.onreadystatechange = function() {
            if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
            {
               element.innerHTML = xmlHttp.responseText;
            }
        };

        xmlHttp.open("GET", url, true); // true for asynchronous
        xmlHttp.send();

        //
    }

    function remove_log_viewer(id)
    {
        element = document.getElementById("log_viewer" + id)
        element.parentNode.removeChild(element)
    }

    function remove_status_plot(id)
    {
        element = document.getElementById("status_plot" + id)
        element.parentNode.removeChild(element)
    }
</script>