{% extends 'partials/site_base.html' %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='dygraph-combined-dev.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='widget_manager.js')}}"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/solid-gauge.js"></script>

<div style="width: 400px; border: 2px solid black; background: lightGray; margin-left: auto; margin-right: auto; padding: 10px;" align="center">
    Automatic Borders: <input type="checkbox" name="tight" id="tight-borders" onclick="updateBorders()">
    <br>
    Add a Widget:
    <br>
    <select id="widget-type" name="widget-type">
        <option value="instrument_graph">Graph</option>
        <option value="log_viewer">Log Viewer</option>
        <option value="status_plot">Status Plot</option>
        <option value="histogram">Histogram</option>
        <option value="dual_histogram">Dual Histogram</option>
        <option value="real_time_gauge">Real Time Gauge</option>
        {% if "engineer" in current_user.authorizations %}
        {# Any widgets in here are considered 'development' and only show up for 'engineer' users #}
        <option value="current_time">Current Time</option>
        {% endif %}
    </select>
    <button type="button" onclick="newWidget()">Add</button>
    {% if current_user.is_active %}
        <br>
        <button type="button" onclick="openSaveModal()">Save Dashboard</button>
        <button type="button" onclick="openLoadModal()">Load Dashboard</button>
        <br>
        <button type="button" onclick="clearAll()">Clear Dashboard</button>
    {% endif %}
</div>

<div id="widget-compendium">

</div>


<div id="save-dashboard-modal" class="db_modal">
    <div class="db_modal_content">
        <div class="db_modal_header">
            <span class="db_modal_close" onclick="closeSaveModal()">x</span>
            <h2>Save Dashboard</h2>
        </div>
        <div class="db_modal_body">
            <label for="name">Dashboard Name:</label>
            <input type="text" name="name" id="save-dashboard-name">
            <div>
                {% if current_user.authorizations == "engineer" %}
                <label for="private">Private:</label>
                <input type="checkbox" name="private" id="save-dashboard-private" checked>
                {% else %}
                Private Dashboard
                {% endif %}
                <button type="submit" class="experiment" style="float: right;" onclick="saveDashboard()">Save Dashboard</button>
            </div>
        </div>
    </div>
</div>


<div id="load-dashboard-modal" class="db_modal">
    <div class="db_modal_content">
        <div class="db_modal_header">
            <span class="db_modal_close" onclick="closeLoadModal()">x</span>
            <h2>Load Dashboard</h2>
        </div>
        <div class="db_modal_body">
            <label for="name">Dashboard Name:</label>
            <select name="name" id="dashboard-select"></select>
            <br>
            <button type="submit" class="experiment" onclick="loadDashboard()">Load Dashboard</button>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    containerDiv = document.getElementById('widget-compendium');
    widgetManager = new WidgetManager(containerDiv, "{{url_for('dashboard.widget_controller')}}",
                                      '{{ url_for('dashboard.widget_log_viewer') }}',
                                      '{{ url_for('dashboard.widget_status_plot') }}',
                                      "{{url_for('instruments.generate_instrument_graph')}}");
    widget_index = 0;

    function newWidget() {
        widType = document.getElementById('widget-type').value;
        if (widType == 'instrument_graph') {
            widgetManager.addInstrumentGraph(null);
        } else if (widType == 'log_viewer') {
            widgetManager.addLogViewer(null);
        } else if (widType == 'status_plot') {
            widgetManager.addStatusPlot(null);
        } else if (widType == 'histogram') {
            widgetManager.addHistogram(null);
        } else if (widType == 'dual_histogram') {
            widgetManager.addDualHistogram(null);
        } else if (widType == 'real_time_gauge') {
            widgetManager.addRealTimeGauge(null);
        } else if (widType == 'current_time') {
            widgetManager.addCurrentTime(null);
        }
    }


    var saveModal = document.getElementById("save-dashboard-modal");
    var loadModal = document.getElementById("load-dashboard-modal");

    function saveDashboard() {
        var confirmedSave = true;


        var name = document.getElementById("save-dashboard-name").value;
        var private = false;
        {% if current_user.authorizations == "engineer" %}
        if (document.getElementById("save-dashboard-private").checked) {
            var private = true;
        }
        {% else %}
        var private = true;
        {% endif %}

        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function() {
            if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
                // Get a list of dashboards the user might modify.
                dashboards=JSON.parse(xmlHttp.responseText);

                // If a dashboard would be overwritten, display a warning and ask for confirmation
                for (i = 0; i < dashboards.length; i++) {
                    if ( private == dashboards[i]["private"] && name == dashboards[i]["name"]) {
                        message = "";
                        if (private) {
                            message = "Saving private dashboard.  Will not affect other users.\nOverwrite?";
                        } else {
                            message = "Saving public dashboard. Will overwrite for all users!\nOverwrite?";
                        }
                        confirmedSave = confirm(message);
                    }
                }

                // If either there is no dashboard with the name or if the overwrite was confirmed, save the dashboard
                if (confirmedSave) {
                    closeSaveModal();
                    var schematic = widgetManager.saveDashboard();

                    payload = {"name": name, "schematic": schematic, "private": private}

                    var xmlHttpSave = new XMLHttpRequest();

                    xmlHttpSave.open("POST", '{{url_for('dashboard.save_dashboard')}}', true); // true for asynchronous
                    xmlHttpSave.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                    xmlHttpSave.send(JSON.stringify(payload));
                }
            }
        };

        xmlHttp.open("GET", '{{url_for('dashboard.available_dashboards')}}', true);
        xmlHttp.send();
    }


    function openSaveModal() {
        saveModal.style.display = "block";
    }
    function closeSaveModal() {
        saveModal.style.display = "none";
    }

    function openLoadModal() {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function() {
            if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
                dashboards=JSON.parse(xmlHttp.responseText);

                var dashSelect = document.getElementById("dashboard-select");
                removeOptions(dashSelect);

                var newOptgroup = document.createElement("optgroup");
                newOptgroup.label = "Private";
                dashSelect.add(newOptgroup);
                for (var i = 0; i < dashboards.length; i++){
                    if (dashboards[i]["private"]) {
                        newOption = document.createElement("option");
                        newOption.value = dashboards[i]["id"];
                        newOption.text = dashboards[i]["name"];
                        newOptgroup.appendChild(newOption);
                    }
                }
                var newOptgroup = document.createElement("optgroup");
                newOptgroup.label = "Public";
                dashSelect.add(newOptgroup);
                for (var i = 0; i < dashboards.length; i++){
                    if (!dashboards[i]["private"]) {
                        newOption = document.createElement("option");
                        newOption.value = dashboards[i]["id"];
                        newOption.text = dashboards[i]["name"];
                        newOptgroup.appendChild(newOption);
                    }
                }

                loadModal.style.display = "block";
            }
        };

        xmlHttp.open("GET", '{{url_for('dashboard.available_dashboards')}}', true);
        xmlHttp.send();
    }

    function closeLoadModal() {

        loadModal.style.display = "none";
    }

    function loadDashboard() {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function() {
            if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
            {
                closeLoadModal();
                var dashboardSchematic = JSON.parse(xmlHttp.responseText);
                widgetManager.loadDashboard(dashboardSchematic);
                updateBorderCheckbox(widgetManager.hasTightBorders);
            }
        };

        var dashboardId = document.getElementById("dashboard-select").value;
        var url = '{{url_for('dashboard.load_dashboard')}}' + "?dashboard_id=" + dashboardId;
        xmlHttp.open("GET", url, true); // true for asynchronous
        xmlHttp.send();
    }

    function removeOptions(selectBox) {
        while (selectBox.firstChild) {
            selectBox.removeChild(selectBox.lastChild);
        }
    }

    function clearAll() {
        widgetManager.removeWidgets();
    }

    function updateBorders() {
        if (document.getElementById("tight-borders").checked) {
            widgetManager.tightBorders();
        } else {
            widgetManager.wideBorders();
        }
    }

    function updateBorderCheckbox(tightBorders) {
        borderCheckbox = document.getElementById("tight-borders");
        borderCheckbox.checked = tightBorders;
    }

</script>

{% endblock %}