{% extends 'partials/site_base.html' %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='dygraph-combined-dev.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='widget_manager.js')}}"></script>

<div style="width: 400px; border: 2px solid black; background: lightGray; margin-left: auto; margin-right: auto; padding: 10px;" align="center">
    {% if current_user.is_active %}
        Esteemed {{ current_user.username }}
        <br>
    {% endif %}
    Add a Widget:
    <br>
    <select id="widget-type" name="widget-type">
        <option value="instrument_graph">Graph</option>
        <option value="log_viewer">Log Viewer</option>
        <option value="status_plot">Status Plot</option>
        <option value="histogram">Histogram</option>
    </select>
    <button type="button" onclick="newWidget()">Add</button>
    {% if current_user.is_active %}
        <br>
        <button type="button" onclick="saveDashboard()">Save Dashboard</button>
        <button type="button" onclick="loadDashboard()">Load Dashboard</button>
    {% endif %}
</div>

<div id="widget-compendium">

</div>

{% endblock %}

{% block script %}
<script>
    containerDiv = document.getElementById('widget-compendium');
    widgetManager = new WidgetManager(containerDiv, "{{url_for('dashboard.widget_controller')}}",
                                      '{{ url_for('dashboard.widget_log_viewer') }}',
                                      '{{ url_for('dashboard.widget_status_plot') }}',
                                      "{{url_for('instruments.generate_instrument_graph')}}");
    widget_index = 0;

    function newWidget() {
        widType = document.getElementById('widget-type').value;
        if (widType == 'instrument_graph') {
            widgetManager.addInstrumentGraph(null);
        } else if (widType == 'log_viewer') {
            widgetManager.addLogViewer();
        } else if (widType == 'status_plot') {
            widgetManager.addStatusPlot();
        } else if (widType == 'histogram') {
            widgetManager.addHistogram(null);
        }
    }
    function saveDashboard() {
        widgetManager.saveDashboard('{{url_for('dashboard.save_dashboard', user_id=current_user.id)}}');
    }
    function loadDashboard() {
        widgetManager.loadDashboard('{{url_for('dashboard.load_dashboard', user_id=current_user.id)}}');
    }

</script>

{% endblock %}