{% extends 'partials/site_base.html' %}

{% block title %}
Devel
{% endblock %}

{% block content %}
<div style="padding: 20px;">
    <div class="devel_notification" >
        <p>
            <i>
                All content on this page is set up as release candidates for being incorporated into WARNO.
                <br>
                Please contact us if you have any concerns/find any bugs.
            </i>
        </p>
    </div>
    <div style="margin-top: 20px; font-size: 120%;">
        <a href="{{ url_for('devel.histogram_page') }}">
            <div class="devel_button">
                Histogram Plotting Routines
            </div>
        </a>
    </div>
    <div style="margin-top: 20px; font-size: 120%;">
        <a href="{{url_for('show_pulse')}}">
            <div class="devel_button">
                Pulse Graphing
            </div>
        </a>
    </div>
    <div style="margin-top: 20px; font-size: 120%;">
        <a href="{{url_for('devel.solid_gauge')}}">
            <div class="devel_button">
                Solid Gauge
            </div>
        </a>
    </div>

</div>
<h2>Current Logo:</h2>
<br>
<img src="{{url_for('static', filename='warno_global_line_logo.png')}}" id="arm-logo" alt="WARNO">

</div>
{% endblock %}