{% extends 'flask_user/public_base.html' %}

{% block title %}
Edit Instrument
{% endblock %}

{% block content %}
<form method="post">
    <div class="form-group">
        <div>
            <label for="abbv" class="control-label">Abbv:</label>
        </div>
    <input type="text" class="form-control" id="instrumentAbbvBox" name="abbv" maxlength="32" value="{{instrument.name_short}}">
    </div>

    <div class="form-group">
        <div>
            <label for="name" class="control-label">Name:</label>
        </div>
        <input type="text" class="form-control" id="instrumentNameBox" name="name" maxlength="128" value="{{instrument.name_long}}">
    </div>

    <div class="form-group">
        <div>
            <label for="type" class="control-label">Type:</label>
        </div>
        <input type="text" class="form-control" id="instrumentTypeBox" name="type" maxlength="64" value="{{instrument.type}}">
    </div>

    <div class="form-group">
        <div>
            <label for="vendor" class="control-label">Vendor:</label>
        </div>
        <input type="text" class="form-control" id="instrumentVendorBox" name="vendor" maxlength="64" value="{{instrument.vendor}}">
    </div>

    <div class="form-group">
        <div>
            <label for="description" class="control-label">Description:</label>
        </div>
        <input type="text" class="form-control" id="instrumentDescriptionBox" name="description" value="{{instrument.description}}">
    </div>

    <div class="grid-container">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <div>
                        <label for="frequency_band" class="control-label">Frequency Band:</label>
                    </div>
                    <input type="text" style="width: 40px;" id="instrumentFrequencyBandBox" name="frequency_band" maxlength="2" value="{{instrument.frequency_band}}">
                </div>
            </div>

            <div class="col-6">
                <div class="form-group">
                    <div>
                        <label for="site" class="form-control">Site:</label>
                    </div>
                    <select id="instrumentSiteSelect" name="site">
                        {% for site in sites %}
                        <option value="{{site.id}}" {% if instrument.site_id == site.id %}selected="selected"{% endif %}>{{site.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div>
        <button id="reset" type="reset">Reset Fields</button>
        <button type="submit" id="submit">Confirm</button>
    </div>

</form>
{% endblock %}
