{% extends 'flask_user/public_base.html' %}

{% block title %}
Edit Instrument
{% endblock %}

{% block content %}
<form method="post">
    <div class="form-group">
        <div>
            <label for="abbv" class="control-label">Abbv:</label>
        </div>
    <input type="text" class="form-control" id="instrumentAbbvBox" name="abbv" maxlength="32" value="{{instrument.name_short}}">
    </div>

    <div class="form-group">
        <div>
            <label for="name" class="control-label">Name:</label>
        </div>
        <input type="text" class="form-control" id="instrumentNameBox" name="name" maxlength="128" value="{{instrument.name_long}}">
    </div>

    <div class="form-group">
        <div>
            <label for="type" class="control-label">Type:</label>
        </div>
        <input type="text" class="form-control" id="instrumentTypeBox" name="type" maxlength="64" value="{{instrument.type}}">
    </div>

    <div class="form-group">
        <div>
            <label for="vendor" class="control-label">Vendor:</label>
        </div>
        <input type="text" class="form-control" id="instrumentVendorBox" name="vendor" maxlength="64" value="{{instrument.vendor}}">
    </div>

    <div class="form-group">
        <div>
            <label for="description" class="control-label">Description:</label>
        </div>
        <input type="text" class="form-control" id="instrumentDescriptionBox" name="description" value="{{instrument.description}}">
    </div>

    <div class="form-group">
        <div>
            <label for="latitude" class="control-label">Latitude:</label>
        </div>
        <input type="text" class="form-control" id="instrumentLatitudeBox" name="latitude" value="{{instrument.latitude}}">
    </div>

    <div class="form-group">
        <div>
            <label for="longitude" class="control-label">Longitude:</label>
        </div>
        <input type="text" class="form-control" id="instrumentLongitudeBox" name="longitude" value="{{instrument.longitude}}">
    </div>

    <div class="form-group">
        <div>
            <label for="effective-radius" class="control-label">Effective Horizontal Radius (meters):</label>
        </div>
        <input type="text" class="form-control" id="instrumentEffectiveRadiusBox" name="effective-radius" value="{{instrument.effective_radius}}">
    </div>

    <div class="form-group">
        <label for="site" class="form-control">Site: </label>
        <select id="instrumentSiteSelect" name="site">
            {% for site in sites %}
            <option value="{{site.id}}" {% if instrument.site_id == site.id %}selected="selected"{% endif %}>{{site.name}}</option>
            {% endfor %}
        </select>
    </div>

    <br>

    <div>
        <div id="edit-instrument-error" style="color: red">
        {% for error in errors %}
            {{error}}
            <br>
        {% endfor %}
        </div>
        <button id="reset" type="reset">Reset Fields</button>
        <button type="submit" id="submit">Confirm</button>
    </div>

</form>
{% endblock %}
