{% extends 'partials/site_base.html' %}

{% block title %}
Edit User
{% endblock %}

{% block content %}
<form method="post">
    <section>
        <p><label for="username">Username:</label>
            <input type="username" id="userUsernameBox" name="username" maxlength="128" value="{{user.username}}"></input>
        </p>
        <p><label for="name">Name:</label>
            <input type="text" id="userNameBox" name="name" maxlength="128" value="{{user.name}}"></input>
        </p>
        <p><label for="email">E-mail:</label>
            <input type="text" id="userEmailBox" name="email" maxlength="128" value="{{user.email}}"></input>
        </p>
        <p><label for="location">Location:</label>
            <input type="text" id="userLocationBox" name="location" maxlength="128" value="{{user.location}}"></input>
        </p>
        <p><label for="position">Position:</label>
            <input type="text" id="userPositionBox" name="position" maxlength="24" value="{{user.position}}"></input>
        </p>
    </section>
    <menu>
        <button id="reset" type="reset">Reset Fields</button>
        <button type="submit" id="submit">Confirm</button>
    </menu>
</form>
{% endblock %}
