<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="{{ url_for('static', filename='dygraph-combined-dev.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='jquery-2.1.4.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='instrument_graph_0_2.js')}}"></script>
    </head>
    <body>
        <div>

            <div style=" vertical-align: top;">

                <p><label for="time">Start Date/Time in UTC:</label>
                    <input type="datetime" id="datetime-input-start" name="start" value="01/01/1970 12:27:31">
                </p>

                <p><label for="time">End Date/Time in UTC:</label>
                    <input type="datetime" id="datetime-input-end" name="end" value="01/01/2170 12:27:31">
                    <br>
                    (MM/DD/YYYY HH:MM:SS)
                    {% if error %}
                        <div id="new-log-error" style="color: red">{{error}}</div>
                    {% endif %}
                </p>

                Graph By Attributes:
                <button type="button" onclick="add_graph()">Graph</button>
                <button type="button" onclick="add_attr()">Add Attribute</button>

                <br>
                <div id="attr_div">
                    <div>
                        <button type="button" onclick="remove_attr(this)">X</button>
                        <select class="attrSelect">
                            {% for column in columns %}
                            <option value="{{column}}">{{column}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

		    </div>

		</div>
		<div id="master-graphdiv"></div>

        <script>

            gm = new GraphManager();

            function add_attr() {
                var div = document.createElement('div');
                div.innerHTML = '<div><button type="button" onclick="remove_attr(this)">X</button> <select class="attrSelect">{% for column in columns %}<option value="{{column}}">{{column}}</option>{% endfor %}</select></div>';
                parent_div = document.getElementById('attr_div')
                parent_div.appendChild(div)
            }

            function remove_attr(e) {
                elem = e.closest('div');
                elem.parentNode.removeChild(elem);
            }

            function add_graph()
                {
                    key_elems = document.getElementsByClassName('attrSelect');
                    var keys = [];
                    for (var i = 0; i < key_elems.length; i++) {
                        keys.push(key_elems[i].value);
                    }

                    start_str = document.getElementById("datetime-input-start").value;
                    start = new Date(start_str + " UTC");

                    end_str = document.getElementById("datetime-input-end").value;
                    end = new Date(end_str + " UTC")

                    master_div = document.getElementById('master-graphdiv');

                    gm.add_graph(keys, {{instrument_id}}, "{{url_for('instruments.generate_instrument_graph')}}", start, end, master_div);

                };
        </script>
    </body>
</html>
