{% extends 'partials/site_base.html' %}

{% block title %}
Instruments
{% endblock %}

{% block content %}
<div>
    <table class="listing-table sortable" id='instrument-table'>
        <tr>
            <th> Site</th>
            <th> Abbv</th>
            <th> Intrument Name</th>
            <th> Type</th>
            <th> Latitude </th>
            <th> Longitude </th>
            <th> Effective Radius (m) </th>
            <th> Vendor</th>
            <th> Description</th>
            {% if current_user.authorizations == "engineer" %}
            <th></th>
            {% endif %}
        </tr>
        {%  for instrument in instruments %}
        <tr>
            <td><a href= "{{url_for('sites.show_site', site_id=instrument.site_id)}}">{{ instrument.location }}</a></td>
            <td>
                {% if current_user.authorizations in ["engineer", "technician"] %}
                <div id="lock-div-{{instrument.location}}-{{instrument.abbv}}" style="display: inline-block;"></div>
                {% endif %}
                <a href = "{{url_for('instruments.instrument', instrument_id=instrument.id)}}">{{ instrument.abbv }}</a></td>
            <td>{{ instrument.name }}</td>
            <td>{{ instrument.type }}</td>
            <td>{{ instrument.latitude }}</td>
            <td>{{ instrument.longitude }}</td>
            <td>{{ instrument.effective_radius }}</td>
            <td>{{ instrument.vendor }}</td>
            <td>{{ instrument.description }}</td>
            {% if current_user.authorizations == "engineer" %}
            <td><a href= "{{url_for('instruments.edit_instrument', instrument_id=instrument.id)}}">Edit</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>

<br>
<hr>
<br>

{% if current_user.authorizations == "engineer" %}
<form action="{{ url_for('instruments.new_instrument') }}" method="get">
  <input type="submit" id="new-instrument-redirect-button"
         value="Add New Instrument"/>
</form>
{% endif %}

{% endblock %}

{% block script %}
<script>
    {% if current_user.authorizations in ["engineer", "technician"] %}
    var xmlHttp = new XMLHttpRequest();
    var that = this;

    xmlHttp.onreadystatechange = function() {
        if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
        {
            // To get JSON and HTML parts, need to do custom extraction.
            lockList = JSON.parse(xmlHttp.responseText);

            for (var i = 0; i < lockList.length; i++) {
                var lockDiv = document.getElementById("lock-div-" + lockList[i]["name"])
                if (lockDiv) {
                    var image = document.createElement("img");
                    image.src = "{{url_for('static', filename='lock.png')}}"
                    lockDiv.appendChild(image);
                    lockDiv.title = "Locked until " + lockList[i]["unlock_time"] + " UTC by " + lockList[i]["user"] + " for reason: '" + lockList[i]["reason"] + "'";
                }
            }
        };
    };

    xmlHttp.open("GET", "https://heimdall.vsn.arm.gov/current_locks", true); // true for asynchronous
    xmlHttp.send();
    {% endif %}
</script>
{% endblock %}