{% extends 'partials/site_base.html' %}

{% block title %}
Instruments
{% endblock %}

{% block content %}
<div>
    <table class="listing-table sortable" id='instrument-table'>
        <tr>
            <th> Site</th>
            <th> Abbv</th>
            <th> Intrument Name</th>
            <th> Type</th>
            <th> Vendor</th>
            <th> Description</th>
            {% if current_user.authorizations == "engineer" %}
            <th></th>
            {% endif %}
        </tr>
        {%  for instrument in instruments %}
        <tr>
            <td><a href= "{{url_for('sites.show_site', site_id=instrument.site_id)}}">{{ instrument.location }}</a></td>
            <td><a href = "{{url_for('instruments.instrument', instrument_id=instrument.id)}}">{{ instrument.abbv }}</a></td>
            <td>{{ instrument.name }}</td>
            <td>{{ instrument.type }}</td>
            <td>{{ instrument.vendor }}</td>
            <td>{{ instrument.description }}</td>
            {% if current_user.authorizations == "engineer" %}
            <td><a href= "{{url_for('instruments.edit_instrument', instrument_id=instrument.id)}}">Edit</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>

<br>
<hr>
<br>

{% if current_user.authorizations == "engineer" %}
<form action="{{ url_for('instruments.new_instrument') }}" method="get">
  <input type="submit" id="new-instrument-redirect-button"
         value="Add New Instrument"/>
</form>
{% endif %}

{% endblock %}