{% extends 'flask_user/public_base.html' %}

{% block title %}
New Site
{% endblock %}

{% block content %}
<form method="post">
    <div class="form-group">
        <div>
            <label for="abbv" class="control-label">Abbreviation:</label>
        </div>
        <input type="text" class="form-control" id="siteAbbvBox" name="abbv" maxlength="8">
    </div>
    <div class="form-group">
        <div>
            <label for="name" class="control-label">Name:</label>
        </div>
        <input type="text" class="form-control" id="siteNameBox" name="name" maxlength="128">
    </div>
    <div class="form-group">
        <div>
            <label for="facility" class="control-label">Facility:</label>
        </div>
        <input type="text" class="form-control" id="siteFacilityBox" name="facility" maxlength="32">
    </div>
    <div class="form-group">
        <div>
            <label for="location_name" class="control-label">Location Name:</label>
        </div>
        <input type="text" class="form-control" id="siteLocationNameBox" name="location_name" maxlength="64">
    </div>

    <div class="grid_container">
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <div>
                        <label for="mobile" class="control-label">Mobile:</label>
                    </div>
                    <input type="checkbox" name="mobile">
                </div>
            </div>

            <div class="col-4">
                <div class="form-group">
                    <div>
                        <label for="lat" class="control-label">Latitude:</label>
                    </div>
                    <input type="text" style="width: 100px;" id="siteLatBox" name="lat">
                </div>
            </div>

            <div class="col-4">
                <div class="form-group">
                    <div>
                        <label for="lon" class="control-label">Longitude:</label>
                    </div>
                    <input type="text" style="width: 100px;" id="siteLonBox" name="lon">
                </div>
            </div>
        </div>
    </div>

    <br>

    <div>
        <div id="edit-instrument-error" style="color: red">
        {% for error in errors %}
            {{error}}
            <br>
        {% endfor %}
        <button id="reset" type="reset">Clear Fields</button>
        <button type="submit" id="submit">Confirm</button>
    </div>
</form>
{% endblock %}
