{% extends 'partials/site_base.html' %}

{% block title %}
New User
{% endblock %}

{% block content %}
<!--Deprecated in favor of using flask_user's user registration-->
<form method="post">
   <section>
     <p><label for="name">Name:</label>
       <input type="text" id="userNameBox" name="name" maxlength="128"></input>
     </p>
     <p><label for="email">E-mail:</label>
       <input type="text" id="userEmailBox" name="email" maxlength="128"></input>
     </p>
     <p><label for="location">Location:</label>
       <input type="text" id="userLocationBox" name="location" maxlength="128"></input>
     </p>
     <p><label for="position">Position:</label>
       <input type="text" id="userPositionBox" name="position" maxlength="24"></input>
     </p>
     <p><label for="password">Password:</label>
       <input type="password" id="userPasswordBox" name="password" maxlength="128"></input>
     </p>
  </section>
  <menu>
    <button id="clear" type="reset">Clear Fields</button>
    <button type="submit" id="submit">Confirm</button>
  </menu>
</form>
{% endblock %}
