{% extends 'partials/site_base.html' %}

{% block title %}
Submit Log
{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

<div>
    <h1 class="title">Log Entry Submission</h1>
</div>
<form id="log-submit-form" action="{{url_for('logs.new_log')}}">
    <input type="hidden" name="user-id" value="{{ current_user.id }}">
    <p><label for="instrument">Instrument:</label>
        <select name="instrument">
            {% for instrument in instruments %}
            <option value="{{ instrument.id }}">{{ instrument.name }}</option>
            {% endfor %}
        </select>
    </p>
    <p><label for="time">Date/Time:</label>
        <input type="datetime" id="datetime-input" name="time">
        UTC Time (YYYY-MM-DD HH:MM:SS)
        {% if error %}
        <div id="new-log-error" style="color: red">{{error}}</div>
        {% endif %}

    </p>

    <p> <label for="status">Log Status</label>
        <select name="status">
            {% for key, value in status.iteritems() %}
            <option value="{{key}}">{{value}}</option>
            {% endfor %}
        </select>
    </p>
    <p> <label for="contents">Log Contents:</label><br>
        <textarea style="width: 80%;height: 25em;" id="contents-input" name="contents"></textarea>
    </p>
    <p>
        <input id="submit" type="submit" value="Submit Log">
    </p>
</form>
{% endblock %}

{% block script %}
<script>
    // Initialize markdown editor
    var simplemde = new SimpleMDE();

    //Catch the date as it's submitted and convert to UTC for the database. Also converts the markdown in 'contents'
    //to HTML before submitting.
    $(function() {$('#log-submit-form').submit(function()
    {
        str = document.getElementById("datetime-input").value;

        //Reduce lengths of spaces to one space, then trim outside spaces
        var clean_str = str.replace(/\s{2,}/g, ' ').trim();

        //Now add a 'T' between the date and time, and a 'Z' on the end.  Makes it a proper ISO format string.
        var iso_str = clean_str.split(' ').join('T') + 'Z'

        //Now parse the string into a date
        date = new Date(Date.parse(iso_str));

        document.getElementById("datetime-input").value = date.toUTCString();

        // Convert the markdown to HTML and inserts it into the textarea.
        var render = simplemde.value();
        var renderedHTML = simplemde.options.previewRender(render);
        // Wrap it in a div so that it can be modified by CSS
        document.getElementById("contents-input").value = '<div class="html_log">' + renderedHTML + '</div>';
    });
    });

    //Get the current time and convert it from format "yyyy-mm-ddTHH:MM:SSZ" to the more readable "yyyy-mm-dd HH:MM:SS"
    var current_time = new Date().toISOString().split('.')[0].split('T').join(' ')

    document.getElementById('datetime-input').value = current_time;
    document.getElementById('datetime-input').placeholder = current_time;
</script>
{% endblock %}
