{% extends 'partials/site_base.html' %}

{% block title %}
Status
{% endblock %}

{% block content %}

    Status Legend:
    <br>
    <table class="legend">
        <td class="operational ">OPERATIONAL</td>
        <td class="not_working ">NOT WORKING</td>
        <td class="testing ">TESTING</td>
        <td class="in_upgrade ">IN UPGRADE</td>
        <td class="transit ">TRANSIT</td>
    </table>

    <br>
    <p style="font-size: .8em;">
        NOTE: Status and plots are not to be taken as a reflection on the quality of the data in the ARM Archive.
        Please pay attention to Data Quality Reports (DQRs) that come with the data. If you have questions,
        contact one of the radar instrument mentors!!!

        <br>
        <br>

        Click on a status bubble to expand it, or on an instrument or site name to visit the details page for that item.
    </p>

    {% for site, site_id in sites.iteritems() %}
    <div class="status_block">
        <table class='status_plot'>
            <th colspan="2">
            <a href="{{url_for('sites.show_site', site_id=site_id)}}"><div class="status_site_button">{{ site }}</div></a>
            </th>
            {% for instrument in instruments %}
            {% if instrument.site == site %}
            <tr>
            <td class="inst_status_td" style="float: left;">
                <div>
                    <a href="{{url_for('instruments.instrument', instrument_id= instrument.id)}}">{{  instrument.instrument_name }}</a>
                </div>
                <div class="log_button round {{instrument.status.replace(' ', '_').replace('-', '_').lower()}}" style="display: inline-block;" onclick="openModal({{instrument.id}})">
                </div>
                <br>
            </td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>
    {% endfor %}
    {% for instrument in instruments %}
    <div class="db_modal" id="modal-{{instrument.id}}" onclick="closeModal({{instrument.id}})">
        <div class="status_modal_content" onclick="blockClick(event)">
            <div style="padding: 10px;">
                <div class="status_modal_close" onclick="closeModal({{instrument.id}})" style="float: right;">x</div>
                <div class="inst_status_div rect {{instrument.status.replace(' ', '_').replace('-', '_').lower()}}" style="display: inline-block;">
                    {{instrument.status}}
                </div>
                <strong style="font-size: 200%;"><a href="{{url_for('instruments.instrument', instrument_id= instrument.id)}}">{{ instrument.site }}:{{ instrument.instrument_name }}</a></strong>
                &nbsp &nbsp<strong>Logged by {{ instrument.author }} at {{ instrument.log_time }} UTC</strong>
                <div class="status_log_container">{{ instrument.contents }}</div>
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}

{% block script %}
<script>
    function openModal(instrument_id) {
        log_modal = document.getElementById("modal-" + instrument_id);
        log_modal.style.display = "block";
    }

    function closeModal(instrument_id) {
        log_modal = document.getElementById("modal-" + instrument_id);
        log_modal.style.display = "none";
    }

    function blockClick(e)
    {
        // Stops a click from bubbling up into parent click events.
        if (!e) var e = window.event;
        e.cancelBubble = true;
        if (e.stopPropagation) e.stopPropagation();
        console.log("End bubble");
    }

</script>
{% endblock %}
