{% extends 'partials/site_base.html' %}

{% block title %}
Status
{% endblock %}

{% block content %}

        Status Legend:
        <br>
        <table class="legend">
            <td class="operational ">OPERATIONAL</td>
            <td class="not_working ">NOT WORKING</td>
            <td class="testing ">TESTING</td>
            <td class="in_upgrade ">IN UPGRADE</td>
            <td class="transit ">TRANSIT</td>
        </table>

        <br>
        <p style="font-size: .8em;">
            NOTE: Status and plots are not to be taken as a reflection on the quality of the data in the ARM Archive.
            Please pay attention to Data Quality Reports (DQRs) that come with the data. If you have questions,
            contact one of the radar instrument mentors!!!

            <br>
            <br>

            Click on a status box to expand it, or on an instrument or site name to visit the details page for that item.
        </p>

        {% for site, site_id in sites.iteritems() %}
        <div class="status_block">
            <table class='status_plot'>
                <th colspan="2">
                <button type="button" class="site_toggle" onclick="toggleLogsForSite(this)">+</button>
                <a href="{{url_for('sites.show_site', site_id=site_id)}}">{{ site }}</a>
                </th>
                {% set blarg = 0 %}
                {% for instrument in instruments %}
                {% if instrument.site == site %}
                {% set blarg = blarg + 1 %}
                {% if blarg % 2 == 1 %}
                <tr>
                {% endif %}
                <td class="inst_status_td" style="float: left;">
                    <a href="{{url_for('instruments.instrument', instrument_id= instrument.id)}}">{{  instrument.instrument_name }}</a>
                    <br>
                    <div class="inst_status_div round {{instrument.status.replace(' ', '_').replace('-', '_').lower()}}" onclick="toggleShowLogs(this)">
                        <div class="log_div" hidden>
                        Last Author: {{ instrument.author }}
                        <br>
                        Last Log: {{ instrument.contents }}
                    </div>
                    </div>
                    <br>
                </td>
                {% if blarg % 2 == 0 %}
                </tr>
                {% endif %}
                {% endif %}
                {% endfor %}
            </table>
        </div>
        {% endfor %}
    </div>

{% endblock %}

{% block script %}
<script>
    function toggleLogsForSite(element) {
        console.log("Toggled");
        status_table = element.parentNode.parentNode.parentNode.parentNode;
        status_div = status_table.parentNode

        inst_status_tds = status_table.getElementsByClassName("inst_status_td");
        inst_status_divs = status_table.getElementsByClassName("inst_status_div");
        log_divs = status_table.getElementsByClassName("log_div");

        console.log(inst_status_tds);

        // This function assumes inst_status_tds, inst_status_divs, and log_divs are of equal length
        // If this ever becomes untrue, each one will need its own loop
        if (element.innerHTML == "+"){
            element.innerHTML = "-";

            status_table.classList.add("expanded")
            status_div.classList.add("expanded")

            for (i = 0; i < log_divs.length; i ++) {
                inst_status_tds[i].classList.add("expanded");
                inst_status_tds[i].style['text-align'] = "left";

                inst_status_divs[i].classList.add("rect");
                inst_status_divs[i].classList.add("expanded");
                inst_status_divs[i].classList.remove("round");
                inst_status_divs[i].style['text-align'] = "left";

                log_divs[i].hidden=false;
            }

        }
        else {
            element.innerHTML = "+";

            status_table.classList.remove("expanded");
            status_div.classList.remove("expanded");

            for (i = 0; i < log_divs.length; i ++) {
                inst_status_tds[i].classList.remove("expanded");
                inst_status_tds[i].style['text-align'] = "center";

                inst_status_divs[i].classList.remove("rect");
                inst_status_divs[i].classList.remove("expanded");
                inst_status_divs[i].classList.add("round");
                inst_status_divs[i].style['text-align'] = "center";

                log_divs[i].hidden=true;
            }
        }
    }

    function toggleShowLogs(element) {

    //Get the first log containing div for the clicked element (should only be one per toggle element)
    hidden_div = element.getElementsByClassName('log_div')[0];

    //Table cell containing the clicked element
    inst_td = element.parentNode;

    //Status table containing the clicked element and its containing div
    status_table = element.parentNode.parentNode.parentNode.parentNode;
    status_div = status_table.parentNode;

    if (hidden_div.hidden == true){
        status_table.classList.add("expanded");
        status_div.classList.add("expanded");

        inst_td.parentNode.classList.add("expanded");
        inst_td.classList.add("expanded");

        element.classList.remove("round");
        element.classList.add("rect");
        element.classList.add("expanded");

        inst_td.style['text-align'] = "left";
        element.style['text-align'] = "left";

        hidden_div.hidden = false;
    }
    else {
        inst_td.parentNode.classList.remove("expanded");
        inst_td.classList.remove("expanded");

        element.classList.remove("rect")
        element.classList.add("round");

        inst_td.style['text-align'] = "center";
        element.style['text-align'] = "center";

        hidden_div.hidden = true;
    }

    all_hidden = true;
    hidden_children = status_table.getElementsByClassName("log_div");
    for (i = 0; i < hidden_children.length; i++) {
        if (hidden_children[i].hidden == false){
            console.log("found something unhidden... darkness");
            all_hidden = false;
        }
    }

    //If all logs for a particular table are hidden, the table should no longer be expanded to display them
    if (all_hidden) {
        status_table.classList.remove("expanded");
        status_div.classList.remove("expanded");
    }

    }

</script>
{% endblock %}
