{% extends 'partials/site_base.html' %}

{% block title %}
{{ site.abbv }}
{% endblock %}

{% block content %}
<div>
    <br>
    Instruments at site:
    <br>
    {% if not instruments %}

        None

    {% else %}
    <table class="listing-table sortable" id='instrument-table'>
        <tr>
            <th> Abbv</th>
            <th> Status </th>
            <th> Last Logged By</th>
            <th> Intrument Name</th>
            <th> Type</th>
            <th> Vendor</th>
            <th> Description</th>
        </tr>
        {%  for instrument in instruments %}
        <tr>
            <td>
                {% if current_user.authorizations in ["engineer", "technician"] %}
                <div id="lock-div-{{site.abbv}}-{{instrument.abbv}}" style="display: inline-block;"></div>
                {% endif %}
                <a href = "{{url_for('instruments.instrument', instrument_id=instrument.id)}}">{{ instrument.abbv }}</a>
            </td>
            <td>{{ instrument.status }}</td>
            <td>{{ instrument.last_author }}</td>
            <td>{{ instrument.name }}</td>
            <td>{{ instrument.type }}</td>
            <td>{{ instrument.vendor }}</td>
            <td>{{ instrument.description }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <br>
</div>
<div style="vertical-align: top;">
    <div style="display: inline-block; width: 300px; border: 2px solid black; margin: 5px; vertical-align: top;">
        <div id="map" style="width: 300px; height: 300px;">

        </div>
    </div>
    <div style="display: inline-block; width: 400px; padding: 5px; vertical-align: top;">
        <div class="info">
            <h3 style="margin-left: 10px;">  Information:</h3>
        </div>
        <div style = "background-color: white; border: 1px solid black; padding: 5px;">
            Abbreviation:   {{site.abbv}}
            <br>
            Name:           {{site.name}}
            <br>
            Facility:       {{site.facility}}
            <br>
            Mobile:         {{site.mobile}}
            <br>
            Location Name:  {{site.location_name}}
            <br>
            Latitude:       {{site.latitude}}
            <br>
            Longitude:      {{site.longitude}}
            <br>

        </div>
</div>
</div>
<div style="padding: 5px; width: 99%;">
    <h3>Recent Logs:</h3>
    {% for log in recent_logs %}
    <div style="border: 2px solid black; margin: 5px; display: flex;">
        <div class="{{log.status.replace(' ', '_').replace('-', '_').lower()}}"
             style="border-right: 2px solid black; flex: 0 0 170px; vertical-align: middle;">
            {{log.instrument}}
            <hr>
            {{log.author}}
            <hr>
            {{log.time}}
            <hr>
            {{log.status}}
            <hr>
        </div>
        <div style="padding: 5px; vertical-align: top; flex: 1;">
            {{log.contents}}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
{% block script %}
<script>
    {% if current_user.authorizations in ["engineer", "technician"] %}
    var xmlHttp = new XMLHttpRequest();
    var that = this;

    xmlHttp.onreadystatechange = function() {
        if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
        {
            // To get JSON and HTML parts, need to do custom extraction.
            lockList = JSON.parse(xmlHttp.responseText);
            console.log(lockList);

            for (var i = 0; i < lockList.length; i++) {
                var lockDiv = document.getElementById("lock-div-" + lockList[i]["name"])
                if (lockDiv) {
                    var image = document.createElement("img");
                    image.src = "{{url_for('static', filename='lock.png')}}"
                    lockDiv.appendChild(image);
                    lockDiv.title = "Locked until " + lockList[i]["unlock_time"] + " UTC by " + lockList[i]["user"] + " for reason: '" + lockList[i]["reason"] + "'";
                }
            }
        };
    };

    xmlHttp.open("GET", "https://heimdall.vsn.arm.gov/current_locks", true); // true for asynchronous
    xmlHttp.send();
    {% endif %}

    // Google Mapping
    iconColorMapping = {
        "operational": 'https://maps.google.com/mapfiles/ms/icons/green-dot.png',
        "not_working": 'https://maps.google.com/mapfiles/ms/icons/red-dot.png',
        "testing":     'https://maps.google.com/mapfiles/ms/icons/yellow-dot.png',
        "in_upgrade":  'https://maps.google.com/mapfiles/ms/icons/blue-dot.png',
        "transit":     'https://maps.google.com/mapfiles/ms/icons/orange-dot.png'
    }
    circleColorMapping = {
        "operational": '#90EEA0',
        "not_working": '#F0A0A0',
        "testing":     '#BEE9F7',
        "in_upgrade":  '#F3F35A',
        "transit":     '#FFE4B5'
    }

    instruments = [];
    {% for instrument in instruments %}
    instruments.push({"lat": {{instrument.latitude}}, "lon": {{instrument.longitude}}, "status": '{{instrument.status}}',
    "icon": iconColorMapping["{{instrument.status.replace(' ', '_').replace('-', '_').lower()}}"],
    "circleColor": circleColorMapping["{{instrument.status.replace(' ', '_').replace('-', '_').lower()}}"],
    "effectiveRadius": {{instrument.effective_radius}}});
    {% endfor %}

    // Choose the appropriate icon color from the status of the most recent log.  If there are no logs, is 'operational'
    // {% if recent_logs|length > 0 %}
    // var markerIcon = iconColorMapping["{{recent_logs[0].status.replace(' ', '_').replace('-', '_').lower()}}"];
    // var circleColor = circleColorMapping["{{recent_logs[0].status.replace(' ', '_').replace('-', '_').lower()}}"];
    // {% else %}
    // var markerIcon = iconColorMapping["operational"];
    // var circleColor = circleColorMapping["operational"];
    // {% endif %}

    // console.log(markerIcon);

    var map = null;

    var goes = null;
    var tileNex = null;

    var markers = [];
    var circles = [];

    function initMap() {
        var location = { lat:  {{site.latitude}}, lng: {{site.longitude}} };
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 8,
            center: location
        });



        for (var i = 0; i < instruments.length; i++) {
            console.log(instruments[i]);
            var marker = new google.maps.Marker({
                icon: instruments[i]["icon"],
                position: { lat: instruments[i]["lat"], lng: instruments[i]["lon"] },
                map: map
            });
            var circle = new google.maps.Circle({
                map: map,
                radius: instruments[i]["effectiveRadius"],
                fillColor: instruments[i]["circleColor"],
                fillOpacity: 0.3,
                strokeOpacity: 0.2
            });
            circle.bindTo('center', marker, 'position');
            circles.push(circle);
            markers.push(marker);
            //console.log(marker);
            console.log(markers);
            // break;
        }
        console.log("Finality");
        console.log(instruments);
        console.log(markers);
        console.log(circles);
        console.log("endality");

        tileNEX = new google.maps.ImageMapType({
            getTileUrl: function(tile, zoom) {
                return "https://mesonet.agron.iastate.edu/cache/tile.py/1.0.0/nexrad-n0q-900913/" + zoom + "/" + tile.x + "/" + tile.y +".png?"+ (new Date()).getTime();
            },
            tileSize: new google.maps.Size(256, 256),
            opacity:0.60,
            name : 'NEXRAD',
            isPng: true
        });

        goes = new google.maps.ImageMapType({
            getTileUrl: function(tile, zoom) {
                return "https://mesonet.agron.iastate.edu/cache/tile.py/1.0.0/goes-east-vis-1km-900913/" + zoom + "/" + tile.x + "/" + tile.y +".png?"+ (new Date()).getTime();
            },
            tileSize: new google.maps.Size(256, 256),
            opacity:0.60,
            name : 'GOES East Vis',
            isPng: true
        });

        map.overlayMapTypes.push(null); // create empty overlay entry
        map.overlayMapTypes.setAt("0",goes);
        map.overlayMapTypes.push(null); // create empty overlay entry
        map.overlayMapTypes.setAt("1",tileNEX);
    }

    initMap();
    var seeGoes = true;
    function toggleGoes() {
        if(seeGoes) {
            seeGoes = false;
            map.overlayMapTypes.setAt("0", null);
        } else {
            seeGoes = true;
            map.overlayMapTypes.setAt("0", goes);
        }
    }
    var seeNex = true;
    function toggleNex() {
        if(seeNex) {
            seeNex = false;
            map.overlayMapTypes.setAt("1", null);
        } else {
            seeNex = true;
            map.overlayMapTypes.setAt("1", tileNEX);
        }
    }
</script>
{% endblock %}
