{% extends 'partials/site_base.html' %}

{% block title %}
{{ instrument.abbv }}
{% endblock %}

{% block content %}
        <div style="display: inline-block; vertical-align: top;">
            <div style="width: 302px; border: 2px solid black; margin: 5px">

                <object data="{{ url_for('static', filename='radar_images/' + instrument.site_name.lower() + '_' + instrument.abbv.lower() + '.jpg') }}"
                        type="image/png" height="300" width="300">
                    <img src="{{ url_for('static', filename='arm_logo.png') }}">
                </object>
                <hr>
                <div id="map" style="height: 300px; width: 300px;">

                </div>
                <hr>
                Map Overlays:
                <hr>
                <input name="overlay-checkbox" id="overlay-0" type="checkbox"> NEXRAD
                <hr>
                <input name="overlay-checkbox" id="overlay-1" type="checkbox"> GOES East Vis
                <br>
                <input name="overlay-checkbox" id="overlay-2" type="checkbox"> GOES West Vis
                <br>
                <input name="overlay-checkbox" id="overlay-3" type="checkbox"> Alaska Vis
                <hr>
                <input name="overlay-checkbox" id="overlay-4" type="checkbox"> GOES East IR
                <br>
                <input name="overlay-checkbox" id="overlay-5" type="checkbox"> GOES West IR
                <br>
                <input name="overlay-checkbox" id="overlay-6" type="checkbox"> Alaska IR
                <hr>
                <button onclick="updateOverlay()">Update Overlay</button>
                <div>
                    {% if recent_logs|length > 0 %}
                    <div class="{{recent_logs[0].status.replace(' ', '_').replace('-', '_').lower()}}" style="text-align: center; border: 1px solid black;">
                    {% else %}
                    <div class="operational" style="text-align: center; border: 1px solid black;">
                    {% endif %}
                        <h3>{{status}}
                        {% if current_user.authorizations in ["engineer", "technician"] %}
                            <div id="lock-div" style="display: inline-block; float: right;"></div>
                        {% endif %}
                        </h3>
                    </div>

                    <div class="info">
                        <h3 style="margin-left: 10px;">  Information:</h3>
                    </div>

                    <div style = "background-color: white; border: 1px solid black; padding: 5px;">
                        Abbreviation:   {{instrument.abbv}}
                        <br>
                        Name:           {{instrument.name}}
                        <br>
                        Vendor:         {{instrument.vendor}}
                        <br>
                        Type:           {{instrument.type}}
                        <br>
                        Location:
                        <a href="{{url_for('sites.show_site', site_id=instrument.site_id)}}">{{instrument.location}}</a>
                        <br>
                        Description:    {{instrument.description}}
                    </div>

                    <div class="info">
                        <h3 style="margin-left: 10px;">  Useful Links:
                        {% if current_user.authorizations == "engineer" %}
                        <a style="float: right;" href="{{url_for('instruments.instrument_links', instrument_id=instrument.id)}}">Edit</a>
                        {% endif %}
                        </h3>
                    </div>
                    <div style = "background-color: white; border: 1px solid black; padding: 5px;">
                        {% for link in links %}
                        <a href="{{link.link}}">{{link.text}}</a>
                        <br>
                        {% endfor %}
                    </div>

                </div>

            </div>
        </div>


        <div style="display: inline-block; vertical-align: top; width: -webkit-calc(100% - 340px); width: -moz-calc(100% - 340px); width: calc(100% - 340px); background-color: yellow;">
            <div class="info_white">
                    {% for log in recent_logs %}
                    <div style="border: 2px solid black; margin: 5px; display: flex;">
                        <div class="{{log.status.replace(' ', '_').replace('-', '_').lower()}}"
                             style="border-right: 2px solid black; flex: 0 0 170px; vertical-align: middle;">
                            {{log.author}}
                            <hr>
                            {{log.time}}
                            <hr>
                            {{log.status}}
                            <hr>
                        </div>
                        <div style="padding: 5px; vertical-align: top; flex: 1;">
                            {{log.contents}}
                        </div>
                    </div>
                    {% endfor %}

                </div>
        </div>
        <!-- Part of gif proof of concept.  Only keeping in comments because full version should be coming soon -->
        <!--<div style="margin: 20px; border: 4px solid black; text-align: center;">-->
            <!--<div style="margin-left: auto; margin-right: auto; display: inline-block;">-->
                <!--<img src="data:image/gif;base64,{{gif}}" style="width: 600px; height: 400px;">-->
            <!--</div>-->

        <!--</div>-->

        </div>

{% endblock %}
{% block script %}
<script>
    {% if current_user.authorizations in ["engineer", "technician"] %}
    var lockDiv = document.getElementById("lock-div");
    var xmlHttp = new XMLHttpRequest();
    var that = this;
    xmlHttp.onreadystatechange = function() {
        if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
        {
            // To get JSON and HTML parts, need to do custom extraction.
            lockList = JSON.parse(xmlHttp.responseText);

            for (var i = 0; i < lockList.length; i++) {
                if (lockList[i]["name"] == "{{instrument.location}}-{{instrument.abbv}}") {
                    var image = document.createElement("img");
                    image.src = "{{url_for('static', filename='lock.png')}}"
                    lockDiv.appendChild(image);
                    lockDiv.title = "Locked until " + lockList[i]["unlock_time"] + " UTC by " + lockList[i]["user"] + " for reason: '" + lockList[i]["reason"] + "'";
                }
            }
        };
    };

    xmlHttp.open("GET", "https://heimdall.vsn.arm.gov/current_locks", true); // true for asynchronous
    xmlHttp.send();
    {% endif %}

    // Google mapping
    iconColorMapping = {
        "operational": 'https://maps.google.com/mapfiles/ms/icons/green-dot.png',
        "not_working": 'https://maps.google.com/mapfiles/ms/icons/red-dot.png',
        "testing":     'https://maps.google.com/mapfiles/ms/icons/yellow-dot.png',
        "in_upgrade":  'https://maps.google.com/mapfiles/ms/icons/blue-dot.png',
        "transit":     'https://maps.google.com/mapfiles/ms/icons/orange-dot.png'
    }
    circleColorMapping = {
        "operational": '#90EEA0',
        "not_working": '#F0A0A0',
        "testing":     '#BEE9F7',
        "in_upgrade":  '#F3F35A',
        "transit":     '#FFE4B5'
    }

    // Choose the appropriate icon color from the status of the most recent log.  If there are no logs, is 'operational'
    {% if recent_logs|length > 0 %}
    var markerIcon = iconColorMapping["{{recent_logs[0].status.replace(' ', '_').replace('-', '_').lower()}}"];
    var circleColor = circleColorMapping["{{recent_logs[0].status.replace(' ', '_').replace('-', '_').lower()}}"];
    {% else %}
    var markerIcon = iconColorMapping["operational"];
    var circleColor = circleColorMapping["operational"];
    {% endif %}

    var map = null;

    var goes = null;
    var tileNex = null;

    function initMap() {
        var location = { lat:  {{instrument.latitude}}, lng: {{instrument.longitude}} };
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 8,
            center: location
        });
        var marker = new google.maps.Marker({
            icon: markerIcon,
            position: location,
            map: map
        });
        var circle = new google.maps.Circle({
            map: map,
            radius: {{instrument.effective_radius}},
            fillColor: circleColor,
            fillOpacity: 0.3,
            strokeOpacity: 0.2
        });
        circle.bindTo('center', marker, 'position');


        // NEXRAD Overlay
        tileNEX = new google.maps.ImageMapType({
            getTileUrl: function(tile, zoom) {
                return "https://mesonet.agron.iastate.edu/cache/tile.py/1.0.0/nexrad-n0q-900913/" + zoom + "/" + tile.x + "/" + tile.y +".png?"+ (new Date()).getTime();
            },
            tileSize: new google.maps.Size(256, 256),
            opacity:0.60,
            name : 'NEXRAD',
            isPng: true
        });

        // Visible overlays
        goesEast = new google.maps.ImageMapType({
            getTileUrl: function(tile, zoom) {
                return "https://mesonet.agron.iastate.edu/cache/tile.py/1.0.0/goes-east-vis-1km-900913/" + zoom + "/" + tile.x + "/" + tile.y +".png?"+ (new Date()).getTime();
            },
            tileSize: new google.maps.Size(256, 256),
            opacity:0.60,
            name : 'GOES East Vis',
            isPng: true
        });

        goesWest = new google.maps.ImageMapType({
            getTileUrl: function(tile, zoom) {
                return "https://mesonet.agron.iastate.edu/cache/tile.py/1.0.0/goes-west-vis-1km-900913/" + zoom + "/" + tile.x + "/" + tile.y +".png?"+ (new Date()).getTime();
            },
            tileSize: new google.maps.Size(256, 256),
            opacity:0.60,
            name : 'GOES West Vis',
            isPng: true
        });

        alaska = new google.maps.ImageMapType({
            getTileUrl: function(tile, zoom) {
                return "https://mesonet.agron.iastate.edu/cache/tile.py/1.0.0/alaska-vis-900913/" + zoom + "/" + tile.x + "/" + tile.y +".png?"+ (new Date()).getTime();
            },
            tileSize: new google.maps.Size(256, 256),
            opacity:0.60,
            name : 'Alaska Vis',
            isPng: true
        });

        // IR overlays
        goesEastIR = new google.maps.ImageMapType({
            getTileUrl: function(tile, zoom) {
                return "https://mesonet.agron.iastate.edu/cache/tile.py/1.0.0/goes-east-ir-4km-900913/" + zoom + "/" + tile.x + "/" + tile.y +".png?"+ (new Date()).getTime();
            },
            tileSize: new google.maps.Size(256, 256),
            opacity:0.60,
            name : 'GOES East IR',
            isPng: true
        });

        goesWestIR = new google.maps.ImageMapType({
            getTileUrl: function(tile, zoom) {
                return "https://mesonet.agron.iastate.edu/cache/tile.py/1.0.0/goes-west-ir-4km-900913/" + zoom + "/" + tile.x + "/" + tile.y +".png?"+ (new Date()).getTime();
            },
            tileSize: new google.maps.Size(256, 256),
            opacity:0.60,
            name : 'GOES West IR',
            isPng: true
        });

        alaskaIR = new google.maps.ImageMapType({
            getTileUrl: function(tile, zoom) {
                return "https://mesonet.agron.iastate.edu/cache/tile.py/1.0.0/alaska-ir-900913/" + zoom + "/" + tile.x + "/" + tile.y +".png?"+ (new Date()).getTime();
            },
            tileSize: new google.maps.Size(256, 256),
            opacity:0.60,
            name : 'Alaska IR',
            isPng: true
        });

        map.overlayMapTypes.push(null); // create empty overlay entry
        map.overlayMapTypes.push(null);
        map.overlayMapTypes.push(null);
        map.overlayMapTypes.push(null);
        map.overlayMapTypes.push(null);
        map.overlayMapTypes.push(null);
        map.overlayMapTypes.push(null);
    }

    initMap();

    // Need to blank out all overlay checkboxes
    overlayCheckboxes = document.getElementsByName("overlay-checkbox");

    for (var i = 0; i < overlayCheckboxes.length; i++) {
        overlayCheckboxes[i].checked = false;
    }

    // Will show the overlay for any overlay box that is checked, hide the others
    function updateOverlay() {
        check0 = document.getElementById("overlay-0").checked;
        check1 = document.getElementById("overlay-1").checked;
        check2 = document.getElementById("overlay-2").checked;
        check3 = document.getElementById("overlay-3").checked;
        check4 = document.getElementById("overlay-4").checked;
        check5 = document.getElementById("overlay-5").checked;
        check6 = document.getElementById("overlay-6").checked;

        if (check0) {
            map.overlayMapTypes.setAt("0", tileNEX);
        } else {
            map.overlayMapTypes.setAt("0", null);
        }
        if (check1) {
            map.overlayMapTypes.setAt("1", goesEast);
        } else {
            map.overlayMapTypes.setAt("1", null);
        }
        if (check2) {
            map.overlayMapTypes.setAt("2", goesWest);
        } else {
            map.overlayMapTypes.setAt("2", null);
        }
        if (check3) {
            map.overlayMapTypes.setAt("3", alaska);
        } else {
            map.overlayMapTypes.setAt("3", null);
        }
        if (check4) {
            map.overlayMapTypes.setAt("4", goesEastIR);
        } else {
            map.overlayMapTypes.setAt("4", null);
        }
        if (check5) {
            map.overlayMapTypes.setAt("5", goesWestIR);
        } else {
            map.overlayMapTypes.setAt("5", null);
        }
        if (check6) {
            map.overlayMapTypes.setAt("6", alaskaIR);
        } else {
            map.overlayMapTypes.setAt("6", null);
        }

    }
</script>

{% endblock %}
