{% extends 'partials/site_base.html' %}

{% block title %}
{{ site.abbv }}
{% endblock %}

{% block content %}
<div>
    <br>
    Instruments at site:
    <br>
    {% if not instruments %}

        None

    {% else %}
    <table class="listing-table sortable" id='instrument-table'>
        <tr>
            <th> Abbv</th>
            <th> Status </th>
            <th> Last Logged By</th>
            <th> Intrument Name</th>
            <th> Type</th>
            <th> Vendor</th>
            <th> Description</th>
        </tr>
        {%  for instrument in instruments %}
        <tr>
            <td><a href = "{{url_for('instruments.instrument', instrument_id=instrument.id)}}">{{ instrument.abbv }}</a></td>
            <td>{{ instrument.status }}</td>
            <td>{{ instrument.last_author }}</td>
            <td>{{ instrument.name }}</td>
            <td>{{ instrument.type }}</td>
            <td>{{ instrument.vendor }}</td>
            <td>{{ instrument.description }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <br>
</div>
<div style="vertical-align: top;">
    <div style="display: inline-block; width: 300px; border: 2px solid black; margin: 5px; vertical-align: top;">
        <div>
            <img src='https://maps.googleapis.com/maps/api/staticmap?center={{site.latitude}}, {{site.longitude}}&zoom=1&size=300x300&maptype=roadmap&markers=color:blue%7Clabel:S%7C{{site.latitude}}, {{site.longitude}}&sensor=false&key=AIzaSyBHcnNMn_-7yvt9PafY5FFPtGrhQNiamnc'/>
        </div>
    </div>
    <div style="display: inline-block; width: 400px; padding: 5px; vertical-align: top;">
        <div class="info">
            <h3 style="margin-left: 10px;">  Information:</h3>
        </div>
        <div style = "background-color: white; border: 1px solid black; padding: 5px;">
            Abbreviation:   {{site.abbv}}
            <br>
            Name:           {{site.name}}
            <br>
            Facility:       {{site.facility}}
            <br>
            Mobile:         {{site.mobile}}
            <br>
            Location Name:  {{site.location_name}}
            <br>
            Latitude:       {{site.latitude}}
            <br>
            Longitude:      {{site.longitude}}
            <br>

        </div>
</div>
</div>
<div style="padding: 5px; width: 99%;">
    <h3>Recent Logs:</h3>
    {% for log in recent_logs %}
    <div style="border: 2px solid black; margin: 5px; display: flex;">
        <div class="{{log.status.replace(' ', '_').replace('-', '_').lower()}}"
             style="border-right: 2px solid black; flex: 0 0 170px; vertical-align: middle;">
            {{log.instrument}}
            <hr>
            {{log.author}}
            <hr>
            {{log.time}}
            <hr>
            {{log.status}}
            <hr>
        </div>
        <div style="padding: 5px; vertical-align: top; flex: 1;">
            {{log.contents}}
            <hr>
            <b>Supporting Images</b>:
            <br>
            {{log.supporting_images}}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
