<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Development: Histogram Plotting</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='master.css') }}">
</head>
<body>

{% with title="Devel: Histogram Generation" %}
{% include 'partials/header_template.html' %}
{% endwith %}

<div class="content">

    <div style="padding: 5px; display: inline-block; vertical-align: top;">
            {% with instrument_list=instrument_list, instrument_id=1 %}
            {% include 'instrument_histogram.html' %}
            {% endwith %}
    </div>

        </div>

    </div>

</div>

</body>
</html>
