<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WARNO: ARM Site</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='master.css') }}">
<script src="{{ url_for('static', filename='sorttable.js')}}"></script>

</head>
<body>

{% with title=site.abbv %}
{% include 'partials/header_template.html' %}
{% endwith %}

<div class="content">
<div>
    <br>
    Instruments at site:
    <br>
    {% if not instruments %}

        None

    {% else %}
    <table class="listing-table sortable" id='instrument-table'>
        <tr>
            <th> Abbv</th>
            <th> Status </th>
            <th> Last Logged By</th>
            <th> Intrument Name</th>
            <th> Type</th>
            <th> Vendor</th>
            <th> Frequency Band</th>
            <th> Description</th>
        </tr>
        {%  for instrument in instruments %}
        <tr>
            <td><a href = "{{url_for('instrument', instrument_id=instrument.id)}}">{{ instrument.abbv }}</a></td>
            <td>{{ instrument.status }}</td>
            <td>{{ instrument.last_author }}</td>
            <td>{{ instrument.name }}</td>
            <td>{{ instrument.type }}</td>
            <td>{{ instrument.vendor }}</td>
            <td>{{ instrument.frequency_band }}</td>
            <td>{{ instrument.description }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <br>
</div>

<div style="width: 300px; float: left; border: 2px solid black; margin: 5px">
    <div>
        <img src='https://maps.googleapis.com/maps/api/staticmap?center={{site.latitude}}, {{site.longitude}}&zoom=1&size=300x300&maptype=roadmap&markers=color:blue%7Clabel:S%7C{{site.latitude}}, {{site.longitude}}&sensor=false'/>
    </div>
</div>
<div style="float: left; width: 400px; padding: 5px;">
    <div class="info">
        <h3 style="margin-left: 10px;">  Information:</h3>
    </div>
    <div style = "background-color: white; border: 1px solid black; padding: 5px;">
        Abbreviation:   {{site.abbv}}
        <br>
        Name:           {{site.name}}
        <br>
        Facility:       {{site.facility}}
        <br>
        Mobile:         {{site.mobile}}
        <br>
        Location Name:  {{site.location_name}}
        <br>
        Latitude:       {{site.latitude}}
        <br>
        Longitude:      {{site.longitude}}
        <br>

    </div>
</div>
<div style="float: left; width: 420px; padding: 5px;">
    <div class="info">
        <h3 style="text-align: center;">Recent Logs:</h3>
    </div>
    <div style="background-color: white; border: 1px solid black;">
        {% for log in recent_logs %}
            <b>Logged By</b>: {{log.author}}
            <br>
            <b>Time</b>: {{log.time}}
            <br>
            <b>Status</b>: {{log.status}}
            <br>
            <b>Comments</b>: {{log.contents}}
            <br>
            <b>Supporting Images</b>: {{log.supporting_images}}
            <hr>
        {% endfor %}
    </div>
</div>
</div>

</body>
</html>
