{% extends 'partials/site_base.html' %}

{% block title %}
Users
{% endblock %}

{% block content %}
<div>
<table class="listing-table sortable" id='user-table'>
    <tr>
        <th> User Name</th>
        <th> User E-mail</th>
        <th> User Location</th>
        <th> User Position</th>
        <th> User ID </th>
        <th> Username</th>
        <th> Active</th>
        <th> Pathword</th>
        <th></th>
    </tr>
    {%  for user in users %}
    <tr>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.location }}</td>
        <td>{{ user.position }}</td>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.active }}</td>
        <td>{{ user.password}}</td>
        <td><a href="{{url_for('users.edit_user', user_id=user.id)}}">Edit</a></td>
    </tr>
    {% endfor %}
</table>
</div>

<br>
<hr>
<br>

<form action="{{ url_for('users.new_user') }}" method="get">
  <input type="submit" id="new-user-redirect-button"
         value="Add New User"/>
</form>
{% endblock %}