{% extends 'partials/site_base.html' %}

{% block title %}
Users
{% endblock %}

{% block content %}
<div>
<table class="listing-table sortable" id='user-table'>
    <tr>
        <th> Username</th>
        <th> Name</th>
        <th> User E-mail</th>
        <th> User Location</th>
        <th> User Position</th>
    </tr>
    {%  for user in users %}
    <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.location }}</td>
        <td>{{ user.position }}</td>
    </tr>
    {% endfor %}
</table>
</div>

<br>
<hr>
<br>

<form action="{{ url_for('user.register') }}" method="get">
    <input type="submit" id="new-user-redirect-button" value="Register New User"/>
</form>
{% endblock %}