html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline
}

body {
  background-image: url("brushed_alu.png");
  background-image: repeat;
  font-family: Helvetica;
}

#arm-logo {
  padding: 5px;
  padding-top: 20px;
  float: left;
  position: absolute;
}

div.content, div.head-title, div.head-title-wrapper, div.sub-title {
  max-width: 95%;
  min-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

div.content {
    background: -moz-linear-gradient(left, #FCFCFC, #F4F4F4); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #FCFCFC, #F4F4F4); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #FCFCFC, #F4F4F4); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-color: #FCFCFC;
    // background-image: url("weather.png");
    // background-image: repeat;
    min-height: 800px;
    padding: 5px;
    border-bottom: solid 2px black;
    border-left: solid 2px black;
    border-right: solid 2px black;
}

div.head-title-wrapper {
    background: -moz-linear-gradient(left, #e5f2ff, #c0d0f5); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #e5f2ff, #c0d0f5); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #e5f2ff, #c0d0f5); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    padding: 5px;
    border-left: solid 2px black;
    border-right: solid 2px black;
    border-bottom: solid 2px black;
}

div.head-title {
    color: black;
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("tmp.png");
    background-repeat: no-repeat;
    background-position: right 15px top;
}

div.head-title a{
    color: darkBlue;
    vertical-align: none;
}

div.head-title h1{
    padding: 10px;
}

div.sub-title {
    color: black;
    background: -moz-linear-gradient(left, #e5f2ff, #c0d0f5); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #e5f2ff, #c0d0f5); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #e5f2ff, #c0d0f5); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    padding: 5px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    border-left: solid 2px black;
    border-right: solid 2px black;
    border-bottom: solid 2px black;
}

div.info {
    background:  lightBlue;
    border: 1px solid black;
}

table.nav-table{
	width: 50%;
}

table.nav-table td {
	text-align: center;
}

table.listing-table{
    width: 99%;
    margin: 5px;
    border-collapse: collapse;
}

table.listing-table tr:nth-child(even) {
    background-color: #eee;
}
table.listing-table tr:nth-child(odd) {
    background-color: lightGray;
}
table.listing-table th {
    color: black;
    background: #b8e6ff;}

table.listing-table td, th {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 1px;
    border: 1px solid black;
}

table.listing-table a {
    color: darkBlue;
}

ul.nav-buttons {
    display: block;
    list-style: none;
    overflow: hidden;
    margin: 5px;
    vertical-align: baseline;
    font-size: 0px;
}

ul.nav-buttons li{
    color: black;
    display: inline-block;
    background: -moz-linear-gradient(top, #DDDDDD, #CCCCCC); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #DDDDDD, #CCCCCC); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #DDDDDD, #CCCCCC); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    width: 100px;
    padding: 1px;
    border: 1px solid black;
    border-right: none;
    font-size: 16px;
}

ul.nav-buttons a:first-child li{
    border-radius: 8px 0 0 8px;
}

ul.nav-buttons a:last-child li {
    border-radius: 0 8px 8px 0;
    border-right: 1px solid black;
}

ul.nav-buttons a li:hover {
    background: -moz-linear-gradient(top, #F4F4F4, #DDDDDD); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #F4F4F4, #DDDDDD); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #DF4F4F4, #DDDDDD); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

ul.nav-buttons a li:active{
    background: -moz-linear-gradient(top, #DDDDDD, #FFFFFF); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #DDDDDD, #FFFFFF); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #DDDDDD, #FFFFFF); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

ul.nav-buttons a li.selected{
    background: -moz-linear-gradient(left, #999999 0%, #DDDDDD 15%, #DDDDDD 85%, #999999 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #999999 0%, #DDDDDD 15%, #DDDDDD 85%, #999999 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #999999 0%, #DDDDDD 15%, #DDDDDD 85%, #999999 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

div.log_widget {
    background: -moz-linear-gradient(left, #FCFCFC, #F4F4F4); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #FCFCFC, #F4F4F4); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #FCFCFC, #F4F4F4); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-color: #FCFCFC;
    border:1px solid black;
    padding: 2px;
}

div.status_widget {
    background: -moz-linear-gradient(left, #FCFCFC, #F4F4F4); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #FCFCFC, #F4F4F4); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #FCFCFC, #F4F4F4); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    margin: 3px;
    border: 1px solid black;
    padding: 2px;
}

div.wd {
    border: 2px solid black;
    width: 45%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    display: inline-block;
    vertical-align: top;
    background-color: #e5f2ff;
}

div.status_page {
    background: -moz-linear-gradient(left, #DDDDDD, #CCCCCC); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #DDDDDD, #CCCCCC); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #DDDDDD, #CCCCCC); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border: 2px solid black;
    display: inline-block;
    padding: 8px;
    border-radius: 4px;
    margin: 2px;
}

div.status {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border: 2px solid black;
  display: inline-block;
}

.operational {
    background: -moz-linear-gradient(top, #90ee90, #16F032); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #90ee90, #16F032); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #90ee90, #16F032); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    text-align: center;
    border-radius: 3px;
    padding: 4px;
}

.not_working {
  background: -moz-linear-gradient(top, #F0A0A0, #F08080); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #F0A0A0, #F08080); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #F0A0A0, #F08080); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  text-align: center;
  border-radius: 3px;
  padding: 4px;
}

.in_upgrade {
  background: -moz-linear-gradient(top, #BEE9F7, #9CC7D5); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #BEE9F7, #9CC7D5); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #BEE9F7, #9CC7D5); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  text-align: center;
  border-radius: 3px;
  padding: 4px;
}

.testing {
  background: -moz-linear-gradient(top, #FFFF66, #F8F81B); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #FFFF66, #F8F81B); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #FFFF66, #F8F81B); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  text-align: center;
  border-radius: 3px;
  padding: 4px;
}

.transit{
  background: -moz-linear-gradient(top, #FFE4B5, #E6CD9D) /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #FFE4B5, #E6CD9D); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #FFE4B5, #E6CD9D); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  text-align: center;
  border-radius: 3px;
  padding: 4px;
}