
/***** Generic short helpers *****/
.expanded {
    width: 99%;
}

.ib {
    display: inline-block;
}

.no_padding {
    padding: 0px;
}

.text-right {
    text-align: right;
}

/***** Base Template (header, navigation, content) *****/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

body {
  background-image: url("brushed_alu.png");
  background-image: repeat;
  font-family: 'Raleway', sans-serif;
}

#arm-logo {
    padding: 20px 5px 5px;
    float: left;
  position: absolute;
}

div.content, div.head-title, div.head-title-wrapper, div.sub-title {
  max-width: 95%;
  min-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/*** Content ***/
div.content {
    background: -moz-linear-gradient(left, #FCFCFC, #F4F4F4); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #FCFCFC, #F4F4F4); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #FCFCFC, #F4F4F4); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-color: #FCFCFC;
    min-height: 800px;
    padding: 5px;
    border-bottom: solid 2px black;
    border-left: solid 2px black;
    border-right: solid 2px black;
}

/*** Head and Navigation***/
div.head-title-wrapper {
    background: -moz-linear-gradient(left, #e5f2ff, #c0d0f5); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #e5f2ff, #c0d0f5); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #e5f2ff, #c0d0f5); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    padding: 5px;
    border-left: solid 2px black;
    border-right: solid 2px black;
    border-bottom: solid 2px black;
}

div.head-title {
    color: black;
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    background: url("warno_global_line_logo_small.png") no-repeat right top;
}

div.head-title a{
    color: darkBlue;
    vertical-align: none;
}

div.head-title h1{
    padding: 10px;
}

div.sub-title {
    color: black;
    background: -moz-linear-gradient(left, #e5f2ff, #c0d0f5); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #e5f2ff, #c0d0f5); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #e5f2ff, #c0d0f5); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    padding: 5px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    border-left: solid 2px black;
    border-right: solid 2px black;
    border-bottom: solid 2px black;
}

table.nav-table{
	width: 50%;
}

table.nav-table td {
	text-align: center;
}


ul.nav-buttons {
    display: block;
    list-style: none;
    overflow: hidden;
    margin: 5px;
    vertical-align: baseline;
    font-size: 0;
}

ul.nav-buttons li{
    color: black;
    display: inline-block;
    background: -moz-linear-gradient(top, #DDDDDD, #CCCCCC); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #DDDDDD, #CCCCCC); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #DDDDDD, #CCCCCC); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    width: 100px;
    padding: 1px;
    border: 1px solid black;
    border-right: none;
    font-size: 16px;
}

/** Navigation Buttons **/
ul.nav-buttons a:first-child li{
    border-radius: 8px 0 0 8px;
}

ul.nav-buttons a:last-child li {
    border-radius: 0 8px 8px 0;
    border-right: 1px solid black;
}

ul.nav-buttons a li:hover {
    background: -moz-linear-gradient(top, #F4F4F4, #DDDDDD); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #F4F4F4, #DDDDDD); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #DF4F4F4, #DDDDDD); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

ul.nav-buttons a li:active{
    background: -moz-linear-gradient(top, #DDDDDD, #FFFFFF); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #DDDDDD, #FFFFFF); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #DDDDDD, #FFFFFF); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

ul.nav-buttons a li.selected{
    background: -moz-linear-gradient(left, #999999 0%, #DDDDDD 15%, #DDDDDD 85%, #999999 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #999999 0%, #DDDDDD 15%, #DDDDDD 85%, #999999 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #999999 0%, #DDDDDD 15%, #DDDDDD 85%, #999999 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}


/***** Dygraphs and their containers *****/
div.master_graphdiv {
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    justify-content: flex-start;
}

div.instrument_dygraph {
    border: 2px solid lightGray;
    margin: 10px;
}

div.graph_setup_container {
    vertical-align: top;
    max-width: 520px;
    /*margin-left: auto;
    margin-right: auto; */

    border: 2px solid darkGray;
    padding: 5px;
}

div.graph_time_format {
    padding-bottom: 10px;
    padding-right: 100px;

    font-size: 80%;
    text-align: right;
}

.graph_setup_button {
    background-color: #e0dfff;
    border: 1px solid darkGray;
    border-radius: 2px;

    padding: 2px 8px;

    text-decoration: none;
    font-size: 80%;
    cursor: pointer;
}

.graph_setup_button:hover {
    background-color: #f3ecff;
}

.graph_setup_button:active {
    background-color: #ccccdc;
}

select.attrSelect {
    font-size:90%;
    padding: 0;
}

/*** Dygraph stats ***/
div.graph_stats {
    margin: 10px;
}

div.graph_stats_half {
    display: inline-block;
    width: 49%;
}


/***** Listing Tables (instrument list, site list, etc.) *****/
table.listing-table{
    width: 99%;
    margin: 5px;
    border-collapse: collapse;
}

table.listing-table tr:nth-child(even) {
    background-color: #eee;
}
table.listing-table tr:nth-child(odd) {
    background-color: lightGray;
}
table.listing-table th {
    color: black;
    background: #b8e6ff;}

table.listing-table td, th {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 1px;
    border: 1px solid black;
}

table.listing-table a {
    color: darkBlue;
}


/***** Dashboard widgets *****/
div.widget_control {
    margin: 20px;
    padding: 10px;
    width: 300px;
    border: 2px solid darkGray;
}

div.widget_config {
    display: none;
    padding: 5px;
}

div.widget_config_row {
    margin-top: 10px;
    margin-bottom: 10px;
}

div.widget_config_controls {
    margin-top: 5px;
}

div.log_widget {
    background: -moz-linear-gradient(left, #FCFCFC, #F4F4F4); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #FCFCFC, #F4F4F4); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #FCFCFC, #F4F4F4); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-color: #FCFCFC;
    border:1px solid black;
    padding: 2px;
}

div.status_widget {
    background: -moz-linear-gradient(left, #FCFCFC, #F4F4F4); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #FCFCFC, #F4F4F4); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #FCFCFC, #F4F4F4); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    margin-top: 3px;
    margin-bottom: 3px;
    border: 1px solid black;
    padding: 2px;
}

div.histogram_widget {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;

    background: white;
    border: 2px solid darkGray;
}

div.histogram_widget_controller {
    vertical-align: top;
    max-width: 520px;
    /*margin-left: auto;
    margin-right: auto; */

    border: 2px solid darkGray;
    padding: 5px;
}

div.wd {
    border: 2px solid black;
    width: 45%;
    margin: 5px 1%;
    padding: 5px;
    display: inline-block;
    vertical-align: top;
    background-color: #e5f2ff;
}

div.wd_tight {
    border: 2px solid black;
    width: auto%;
    margin: 5px 0%;
    padding: 2px;
    display: inline-block;
    vertical-align: top;
    background-color: #e5f2ff;
}

div.dashboard_graph_stats {
    margin: 10px;
    display: inline-block;
}

div.dashboard_instrument_dygraph {
    border: 2px solid lightGray;
    margin: 10px;

    display: inline-block;
}

div.dashboard_graph_stats_half {
    display: inline-block;
}

/* The Modal (background) */
div.db_modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.db_modal_content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: db_animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: db_animatetop;
    animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes db_animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes db_animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
span.db_modal_close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

span.db_modal_close:hover,
span.db_modal_close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

div.db_modal_header {
    background: -moz-linear-gradient(left, #e5f2ff, #c0d0f5); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #e5f2ff, #c0d0f5); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #e5f2ff, #c0d0f5); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    padding: 6px 15px;
}

div.db_modal_body {
    padding: 6px 15px;
}

button.experiment {
    background-color: #e5f2ff;/*, #c0d0f5); /* FF3.6-15 */
    border: 2px solid darkGray;
    border-radius: 5px;

    -webkit-transition: all 500ms linear 100ms;
    -moz-transition: all 500ms linear 100ms;
    -o-transition: all 500ms linear 100ms;
    transition: all 500ms linear 100ms;
}

button.experiment:hover,
button.experiment:focus {
    background-color: white;
    border: 4px solid #DDDDDD;
    border-radius: 8px;
    cursor: pointer;
}

div.db_receive_status {
  border-radius: 50%;
  background-color: black;
  width: 10px;
  height: 10px;
  border: 1px solid black;
  display: inline-block;
}

div.db_status_good {
    background: -moz-linear-gradient(top, #90EEA0, #8AE98A); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #90EEA0, #8AE98A); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #90EEA0, #8AE98A); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

div.db_status_weak {
    background: -moz-linear-gradient(top, #F3F35A, #E7E70A); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #F3F35A, #E7E70A); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #F3F35A, #E7E70A); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

div.db_status_dead {
    background: -moz-linear-gradient(top, #F0A0A0, #F08080); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #F0A0A0, #F08080); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #F0A0A0, #F08080); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

/***** Status displays *****/
div.status_page {
    background: -moz-linear-gradient(left, #DDDDDD, #CCCCCC); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #DDDDDD, #CCCCCC); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #DDDDDD, #CCCCCC); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border: 2px solid black;
    display: inline-block;
    padding: 8px;
    border-radius: 4px;
    margin: 2px;
}

div.status {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border: 2px solid black;
  display: inline-block;
}

div.status_block{
  display: inline-block;
  vertical-align: top;
  margin: 10px;
}

table.status_plot {
  border-collapse: separate;
  text-align: center;
  border-spacing: 0;
  margin: 0;
  padding: 0;
}

table.status_plot td, th {
  border: 1px solid black;
  padding: 3px;
  background-color: white;
  min-width: 80px;
}
table.status_plot th{
    border-radius: 20px 20px 0 0;
}

table.legend td{
  border: 2px solid black;
  padding: 3px;
}

table.legend {
  border: 2px solid black;
  border-collapse: collapse;
  align: center
}

div.round {
  border-radius: 50%;
  width: 18px;
  height: 18px;
  border: 2px solid black;
  display: inline-block;
}

div.rect {
    border-radius: 2px;
    border: 2px solid black;
}

button.site_toggle {
    border: 1px solid black;
    border-radius: 2px;
    padding: 0;
    width: 20px;
}

button.site_toggle:hover {
    background-color: moccasin;
}

div.status_log_container {
    margin: 2px;
    background-color: white;
    border: 2px solid #555555;
    padding: 5px;
    text-align: left;
}

/* Modal Content */
.status_modal_content {
    position: relative;
    background: -moz-linear-gradient(left, #e5f2ff, #c0d0f5); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #e5f2ff, #c0d0f5); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #e5f2ff, #c0d0f5); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    margin: auto;
    padding: 10px;
    border: 1px solid #888;
    min-width: 800px;
    max-width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: db_animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: db_animatetop;
    animation-duration: 0.4s;
    margin-bottom: 150px;
}

/* The Close Button */
div.status_modal_close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

/*** Status types ***/
.operational {
    background: -moz-linear-gradient(top, #90EEA0, #8AE98A); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #90EEA0, #8AE98A); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #90EEA0, #8AE98A); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    text-align: center;
    padding: 4px;
}

.not_working {
    background: -moz-linear-gradient(top, #F0A0A0, #F08080); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #F0A0A0, #F08080); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #F0A0A0, #F08080); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    text-align: center;
    padding: 4px;
}

.in_upgrade {
    background: -moz-linear-gradient(top, #BEE9F7, #ADD8E6); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #BEE9F7, #ADD8E6); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #BEE9F7, #ADD8E6); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    text-align: center;
    padding: 4px;
}

.testing {
    background: -moz-linear-gradient(top, #F3F35A, #E7E70A); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #F3F35A, #E7E70A); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #F3F35A, #E7E70A); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    text-align: center;
    padding: 4px;
}

.transit{
    background: -moz-linear-gradient(top, #FFE4B5, #F7DCAC); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #FFE4B5, #F7DCAC); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #FFE4B5, #F7DCAC); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    text-align: center;
    padding: 4px;
}


/***** Event Manager Dashboard *****/
div.em_table_stats {
    border: 2px solid black;
    display: inline-block;
    padding: 5px;
    background-color: #DDDDDD;
    margin-left: auto;
    margin-right: auto;
}

table.em_status {
    border: none;
    width: 90%;
}


/***** Flask_User forms *****/
div.flask_user_container {
    text-align: center;
}

div.flask_user_content {
    text-align: left;
    background-color: #F4F4F4;

    min-width: 400px;
    min-height: 200px;
    margin-top: 40px;
    margin-bottom: 20px;
    display: inline-block;

    border: 2px solid darkGray;
    border-radius: 20px;
    padding: 15px;
}

.form-group {
    font-size: 90%;
    padding-top: 10px;
}

.form-control {
    width: 100%;
}

/***** Devel Pages and Candidates *****/

div.devel_button {
    display: inline-block;
    background: #DDDDDD;
    padding: 5px;

    border-radius: 2px;
    border: 2px solid darkGray;
}

div.devel_button:hover {
    background: #F0F0F0;
}

div.devel_notification {
    display: inline-block;
    background: LavenderBlush;
    padding: 10px;

    border-radius: 2px;
    border: 2px solid Salmon;
}

/*** Histograms ***/

.histogram_box {
    background: white;

    overflow : hidden;
    float: left;
    padding: 30px;
    margin: 20px;
    border: 2px solid darkGray;
}

/***** Grid and Column Framework *****/
/* Base for custom grid, adapted from http://j4n.co/blog/Creating-your-own-css-grid-system */
.grid-container{
    width: 100%;
    max-width: 1000px;
}

/*-- setting border box on all elements inside the grid --*/
    .grid-container *{
        box-sizing: border-box;
    }

/*-- our clearfix hack -- */
.row:before,
.row:after {
    content:"";
      display: table ;
    clear:both;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
    width: 8.33%;
}

/*-- our gutter -- */
.with_gutter {
    padding: 12px;
}

.col-1 { width: 8.33%;  }
.col-2 { width: 16.66%; }
.col-3 { width: 25%;    }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%;    }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%;    }
.col-10{ width: 83.33%; }
.col-11{ width: 91.66%; }
.col-12{ width: 100%;   }

/*-- example: some extra column content styling --*/
/*[class*='col-'] > p {
 background-color: #FFC2C2;
 padding: 0;
 margin: 0;
 text-align: center;
 color: white;
}*/

/* Markdown Defaults, editor and displayed logs */
div.html_log h1,
div.editor-preview-side h1,
div.editor-preview h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

div.html_log h2,
div.editor-preview-side h2,
div.editor-preview h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

div.html_log h3,
div.editor-preview-side h3,
div.editor-preview h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

div.html_log h4,
div.editor-preview-side h4,
div.editor-preview h4 {
    display: block;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

div.html_log h5,
div.editor-preview-side h5,
div.editor-preview h5 {
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

div.html_log h6,
div.editor-preview-side h6,
div.editor-preview h6 {
    display: block;
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

div.html_log p,
div.editor-preview-side p,
div.editor-preview p {
    display: block;
    margin: 1em 0px;
}

div.html_log ul,
div.editor-preview-side ul,
div.editor-preview ul {
   list-style-type: disc;
   list-style-position: inside;
   margin-top: 1em;
   margin-bottom: 1em;
   padding-left: 10px;
}

div.html_log ol,
div.editor-preview-side ol,
div.editor-preview ol {
   list-style-type: decimal;
   list-style-position: inside;
   margin-top: 1em;
   margin-bottom: 1em;
   padding-left: 10px;
}

div.html_log ul ul,
div.editor-preview-side ul ul,
div.editor-preview ul ul {
   list-style-type: circle;
   list-style-position: inside;
   margin-left: 15px;
}

div.html_log ol ul,
div.editor-preview-side ol ul,
div.editor-preview ol ul {
   list-style-type: circle;
   list-style-position: inside;
   margin-left: 15px;
}

div.html_log ol ol,
div.editor-preview-side ol ol,
div.editor-preview ol ol {
   list-style-type: lower-latin;
   list-style-position: inside;
   margin-left: 15px;
}

div.html_log ul ol,
div.editor-preview-side ul ol,
div.editor-preview ul ol {
   list-style-type: lower-latin;
   list-style-position: inside;
   margin-left: 15px;
}

div.html_log blockquote,
div.editor-preview-side blockquote,
div.editor-preview blockquote {
   margin-left: 40px;
   margin-right: 40px;
   margin-top: 16px;
   margin-bottom: 16px;

}




/* Needs Classifying */

div.info {
    background:  lightBlue;
    border: 1px solid black;
}

div.info_white {
    background-color: white;
    border: 1px solid black;
}

div.error_display {
    color: red;
}

input.short_input {
    width: 50px;
}

