<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submit Log</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='master.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-2.1.4.js')}}"></script>

</head>
<body>

{% with title='Submit Log' %}
{% include 'partials/header_template.html' %}
{% endwith %}

<div>
    <h1 class="title">Log Entry Submission</h1>
</div>
<form id="log-submit-form" action="{{url_for('new_log')}}">
    <p><label for="user-id">User Name:</label>
        <select name="user-id">
            {% for user in users %}
            <option value="{{ user.id }}">{{ user.name }}</option>
            {% endfor %}
        </select>
    </p>
    <p><label for="instrument">Instrument:</label>
        <select name="instrument">
            {% for instrument in instruments %}
            <option value="{{ instrument.id }}">{{ instrument.name }}</option>
            {% endfor %}
        </select>
    </p>
    <p><label for="time">Date/Time:</label>
         <input type="datetime" id="datetime-input" name="time" placeholder="01/01/1970 12:27:31">
            Local Time (MM/DD/YYYY HH:MM:SS)
         {% if error %}
         <div id="new-log-error" style="color: red">{{error}}</div>
         {% endif %}
    </p>

    <p> <label for="status">Log Status</label>
        <select name="status">
            {% for key, value in status.iteritems() %}
            <option value="{{key}}">{{value}}</option>
            {% endfor %}
        </select>
    </p>
    <p> <label for="contents">Log Contents:</label><br>
        <textarea style="width: 80%;height: 25em;" name="contents"></textarea>
    </p>
    <p>
        <input type="submit" value="Submit Log">
    </p>
</form>

<script>
  //Catch the date as it's submitted and convert to UTC for the database.
  $(function() {$('#log-submit-form').submit(function()
  {
    str = document.getElementById("datetime-input").value;
    date = new Date(str)
    document.getElementById("datetime-input").value = date.toUTCString();
    });
    });
</script>

</body>
</html>
