<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Custom Database Query</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='master.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='jquery-2.1.4.js')}}"></script>

</head>
<body>

{% with title="Custom Query" %}
{% include 'partials/header_template.html' %}
{% endwith %}

<div class="content">
<div style="background-color: #EEE; padding: 5px; border: solid darkGray 3px;">
  <form method="post" action="{{url_for('query')}}">
    <label for="query_input">SQL Query:</label>
    <input type="text" style="width: 400px;" id="query_input" name="query"></input>
    <input type="submit" id="query_submit" value="Process Query"></input>
  </form>
</div>
<div>
  {{data}}
</div>
</div>
</body>
</html>
