<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ARM Site List</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='master.css') }}">
<script src="{{ url_for('static', filename='sorttable.js')}}"></script>

</head>
<body>

{% with title='Sites' %}
{% include 'partials/header_template.html' %}
{% endwith %}

<div>
<table class="listing-table sortable" id="site-table">
    <tr>
        <th> Site Abbv</th>
        <th> Site Name</th>
        <th> Site Latitude</th>
        <th> Site Longitude</th>
        <th> Facility</th>
        <th> Mobile</th>
        <th> Location Name</th>
        <th> Site ID </th>
    </tr>
    {%  for site in sites %}
    <tr>
        <td><a href="{{url_for('show_site', site_id= site.id)}}">{{ site.abbv }}</a></td>
        <td>{{ site.name }}</td>
        <td>{{ site.latitude }}</td>
        <td>{{ site.longitude }}</td>
        <td>{{ site.facility }}</td>
        {% if site.mobile %}
        <td>Yes</td>
        {% else %}
        <td>No</td>
        {% endif %}
        <td>{{ site.location_name }}</td>
        <td>{{ site.id }}</td>
    </tr>
    {% endfor %}
</table>

<br>
<hr>
<br>

<form action="{{ url_for('new_site') }}" method="get">
  <input type="submit" id="new-site-redirect-button"
         value="Add New Site"/>
</form>
</body>
</html>