<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Agent Dashboard">
    <meta name="author" content="Joseph C. Hardin">
    <link rel="icon" href="../../favicon.ico">

    <title>Agent Status Dashboard </title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/dashboard.css" rel="stylesheet">
        <script src="http://cdnjs.cloudflare.com/ajax/libs/numeric/1.2.6/numeric.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>

  <body>

    <nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
      <button type="button" class="navbar-toggler hidden-sm-up" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Agent Dashboard</a>
      <div id="navbar">
{#        <nav class="nav navbar-nav pull-xs-left">#}
{#          <a class="nav-item nav-link" href="#">Dashboard</a>#}
{#          <a class="nav-item nav-link" href="#">Settings</a>#}
{#          <a class="nav-item nav-link" href="#">Profile</a>#}
{#          <a class="nav-item nav-link" href="#">Help</a>#}
{#        </nav>#}
{#        <form class="pull-xs-right">#}
{#          <input type="text" class="form-control" placeholder="Search...">#}
{#        </form>#}
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
{#        <div class="col-sm-3 col-md-2 sidebar">#}
{#          <ul class="nav nav-sidebar">#}
{#            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>#}
{#            <li><a href="#">Reports</a></li>#}
{#            <li><a href="#">Analytics</a></li>#}
{#            <li><a href="#">Export</a></li>#}
{#          </ul>#}
{#          <ul class="nav nav-sidebar">#}
{#            <li><a href="">Nav item</a></li>#}
{#            <li><a href="">Nav item again</a></li>#}
{#            <li><a href="">One more nav</a></li>#}
{#            <li><a href="">Another nav item</a></li>#}
{#            <li><a href="">More navigation</a></li>#}
{#          </ul>#}
{#          <ul class="nav nav-sidebar">#}
{#            <li><a href="">Nav item again</a></li>#}
{#            <li><a href="">One more nav</a></li>#}
{#            <li><a href="">Another nav item</a></li>#}
{#          </ul>#}
{#        </div>#}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Agent Dashboard</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-6 " id="systemstats">
{#              <h4>Label</h4>#}
{#              <span class="text-muted">Something else</span>#}
            </div>
{#            <div class="col-xs-6 col-sm-3 placeholder">#}
{#              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-fluid" alt="Generic placeholder thumbnail">#}
{#              <h4>Label</h4>#}
{#              <span class="text-muted">Something else</span>#}
{#            </div>#}
{#            <div class="col-xs-6 col-sm-3 placeholder">#}
{#              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-fluid" alt="Generic placeholder thumbnail">#}
{#              <h4>Label</h4>#}
{#              <span class="text-muted">Something else</span>#}
{#            </div>#}
          </div>

          <h2>Plugins</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Path</th>
                  <th>Status</th>
                   <th>Event Codes</th>
                  <th>Enable/Disable</th>
                </tr>
              </thead>
              <tbody>
              {% for plugin in plugin_list  %}
                  <tr>
                      <td>{{  plugin.plugin_name }}</td>
                  <td>{{  plugin.plugin_handle }}</td>
                      <td>{{  plugin.status }}</td>
                      <td>{{  plugin.event_codes }}</td>
                      <td><a href="agent/{{ plugin.plugin_name}}/start" >[Enable]</a><a href="agent/{{ plugin.plugin_name}}/stop" >[Disable]</a></td>
                  </tr>
              {% endfor %}


              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <script>
    var trace1 = {
    r: [{{ sys_stats.cpu }}, {{ sys_stats.mem }}, {{ sys_stats.threads }} ,{{ sys_stats.disk_usage }} ],
    t: ['CPU', 'Virtual Mem', 'DeciThreads', 'Disk Usage'],
    name: 'percent',
    marker: {color: 'rgb(106,81,163)'},
    type: 'area'
    };
        var data = [trace1];


var layout = {
  title: 'Agent System Stats',
  font: {size: 16},
  legend: {font: {size: 16}},
  radialaxis: {ticksuffix: '%'},
  orientation: 270,
  showlegend: false,
    autosize: true,
    width: 480,
    height: 300
};

Plotly.newPlot('systemstats', data, layout);


    </script>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </body>
</html>
