body {
  background-image: url("brushed_alu.png");
  background-image: repeat;
  font-family: Arial;
}

div.head-title {
      background: linear-gradient(darkBlue, blue);
      color: white;
	width: 97%;
	border: 3px solid black;
	padding: 5px;
      border-radius: 10px;
}

div.head-title a{
  color: white;
}

div.head-title h1{
  margin-before: 0.2em;
  margin-after: 0.2em;
}

div.info {
  background:  linear-gradient(to right, lightBlue, white);
  border: 1px solid black;
}

table.nav-table{
	width: 60%;
}

table.nav-table td {
	text-align: center;
}

table.listing-table{
    width: 97%;
    background-color: black;
    margin: 5px;
}

table.listing-table tr:nth-child(even) {
    background-color: #eee;
}
table.listing-table tr:nth-child(odd) {
    background-color: #fff;
}
table.listing-table th {
    color: black;
    background: linear-gradient(lightBlue, white);
}
