<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src="{{ url_for('static', filename='dygraph-combined-dev.js')}}"></script>
	</head>
	<body>
		<h2>
		Hyllo Wyrld from Dygraph
		</h2>
		<hr>
<!-- 		<br>
		<br>
		<div id="graphdiv0" style="width: 400px; height: 200px;"></div>
		<br>
		<br>
		<div id="graphdiv1" style="width: 400px; height: 200px;"></div>
		<br>
		<hr> -->
		<div id="master-graphdiv"></div>
		
		<button type="button" onclick="update_graph()">Push Me</button>


		<script>
			graphs = 12;
			g = [];
			gindex = [];
			graph_data = [];

			//Create N graphs
			for (i = 0; i < graphs; i ++)
			{
				//Add labels to the CSV data
				graph_data.push(["value1, value2\n"])
				//Index for these items is 1
				gindex.push(1);
				id = "graphdiv" + i;
				title = "Dygraph " + i;

				//Create a div for the graph matching the graphs id
				div = document.createElement('div');
				div.innerHTML = '<br><div id="' + id + '" style="width: 400px; height: 200px;"></div><br>'
				document.getElementById('master-graphdiv').appendChild(div);

				//Create a graph with the containing div id and the
				//data labels
				g.push(	new Dygraph(
									document.getElementById(id),
									graph_data[i],
									{
										title: title,
										xlabel: "X Value",
										ylabel: "Y Value"
									}));

			}

			//#?Straight pull from stack overflow
			function convert_to_csv(objArray) {
		            var array = typeof objArray != 'object' ? JSON.parse(objArray) : objArray;
		            var str = '';

		            for (var i = 0; i < array.length; i++) {
		                var line = '';
		                for (var index in array[i]) {
		                    if (line != '') line += ','

		                    line += array[i][index];
		                }

		                str += line + '\r\n';
		            }

		            return str;
       		 }

			function update_graph()
				{
					//XMLHTTPRequest to server xml generator
					xmlhttp = new XMLHttpRequest();

					xmlhttp.onreadystatechange = function() {
						//After the asyncronous request successfully returns
						if (xmlhttp.readyState == 4 && xmlhttp.status == 200)
						{
							//Pull out the response text from the request
							rec_message = JSON.parse(xmlhttp.responseText);

							//First element is list of updated indices
							gindex = rec_message[0];

							//Second element is the convertible graph data
							x = rec_message[1];
							console.log(x);
							console.log(JSON.stringify(x))
							
							//For each data item
							for (i = 0; i < x.length; i ++) {
								//Convert response to CSV
								new_data = ""
								new_data = convert_to_csv(x[i]);
								
								//append to graph data
								graph_data[i] += new_data;
								g[i].updateOptions({'file': graph_data[i]})
							}
							console.log(graph_data);
						}
					}

					//Send JSON POST XMLHTTPRequest to generator controller
					xmlhttp.open("POST","{{ url_for('generate_data') }}", true)
					xmlhttp.setRequestHeader('X-Requested-With', 'XMLHTTPRequest'); 
					xmlhttp.setRequestHeader('Content-Type', 'application/json');
					console.log("JSON Sending: " + JSON.stringify(gindex));
					//Sends the graph indexes. The Indices tell the controller
					//the current x value of the graph, and the number of
					//indices implies the number of graphs to send data to
					//#?Data is currently faked by RNG
					xmlhttp.send(JSON.stringify(gindex));
				};
		</script>
	</body>



</html>