<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Accounts on WARNO</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='master.css') }}">
<script src="{{ url_for('static', filename='sorttable.js')}}"></script>

</head>
<body>

<div><h1>User Accounts on Warno</h1></div>

<div>
<table class="listing-table sortable" id='user-table'>
    <tr>
        <th> User Name</th>
        <th> User E-mail</th>
        <th> User Location</th>
        <th> User ID </th>
    </tr>
    {%  for user in users %}
    <tr>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.location }}</td>
        <td>{{ user.id }}</td>
    </tr>
    {% endfor %}
</table>
</div>

<dialog id="addUserDialog">
  <form method="dialog">
    <section>
        Add a user:
      <p><label for="name">Name:</label>
        <input type="text" id="userNameBox" name="name"></input>
      </p>
      <p><label for="site">Site:</label>
        <input type="text" id="userSiteBox" name="site"></input>
      </p>
      <p><label for="email">E-mail:</label>
        <input type="text" id="userEmailBox" name="email"></input>
      </p>
    </section>
    <menu>
      <button id="cancel" type="reset">Cancel</button>
      <button type="submit" id="submit">Confirm</button>
    </menu>
  </form>
</dialog>

<menu>
  <button id="addUser">Add a User</button>
</menu>

<script>
  (function() {
    var updateButton = document.getElementById('addUser');
    var cancelButton = document.getElementById('cancel');
    var addUserDialog = document.getElementById('addUserDialog');

    // Update button opens a modal dialog
    updateButton.addEventListener('click', function() {
      addUserDialog.showModal();
    });

    // Form cancel button closes the dialog box
    cancelButton.addEventListener('click', function() {
      addUserDialog.close();
    });



  })();
</script>
</body>
</html>