<html>

<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='master.css') }}">

</head>

<body>
	<div class="head-title" align="center" >
		<h1>
			ARM WARNO ({{title}})
		</h1>
		<table class="nav-table">
			<td><a href="{{url_for('show_radar_status')}}">Status</a></td>
			<td><a href="{{url_for('list_sites')}}">Sites</a></td>
			<td><a href="{{url_for('list_instruments')}}">Instruments</a></td>
			<td><a href="{{url_for('show_pulse')}}">Pulses</a></td>
			<td><a href="{{url_for('list_users')}}">Users</a></td>
			<td><a href="{{url_for('new_log')}}">Submit Log</a></td>
		</table>
	</div>
</body>
</html>
